.insurance {
  margin-top: 71px;

  &__title {
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;

    &_sub {
      width: 100%;
      max-width: 900px;
      margin: 0 auto 16px;
      font-size: 18px;
      text-align: left;
    }
  }

  &__list {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    min-height: 832px;
    margin: 0 auto 100px;
  }

  &__item {
    font-size: 16px;
    line-height: 2;
    font-weight: 400;
  }
}
