.footer {
  padding: 84px 0 0;

  &__wrapper {
    @extend %display-jc-sb;
    align-items: start;
    padding: 0 0 110px;
  }

  .icon--clock,
  .icon--message,
  .icon--phone,
  .icon--location {
     width: 20px;
    height: 20px;
    margin: 0 12px 0 0;
    padding: 0;
    fill: $green;
  }

  &__info {
    display: flex;
  }

  &__popular-country {
    margin: 0 60px 0 0;
  }

  &__title {
    margin: 0 0 24px;
    font-size: 16px;
    line-height: 1.4;
    color: $gray;
    text-transform: uppercase;
  }

  &__popular-country-list {
    column-count: 2;
    column-gap: 20px;
  }

  &__popular-country-item {
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 1.4;
    transition: color 0.3s ease;

    @media (hover: hover) {
      &:hover {
        color: $primary;
      }
    }
  }

  &__contact-subtitle {
     margin: 0 0 24px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
  }

  &__contact-item:not(:last-child) {
    margin: 0 0 23px;
  }

  &__contact-item {
    @extend %display-flex;
  }

  &__contact-text {
    font-size: 16px;
    line-height: 1.4;
  }

  &__contact-link {
    font-size: 16px;
    line-height: 1.4;
    color: $blue;
    text-decoration: underline;
    transition: color 0.3s ease;

    &:hover {
      color: rgb(93, 0, 255);
    }
  }

  &__contact-first-link {
    @extend %position-rel;
    padding: 0 5px 0 0;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 70%;
      background-color: $gray;
      transform: translateY(-50%);
    }
  }

  &__social-link-wrapper {
    margin: 0 0 24px;
  }

  &__social-link {
    font-size: 16px;
    line-height: 1.4;
    color: transparent;
    background: linear-gradient(to right, #f48f0c, #fd1d1d, #f95d1b);
    -webkit-background-clip: text;
  }

  &__social {
    position: relative;
    padding: 0 0 0 40px;

    &::after {
      @extend %gray-line;
      right: auto;
      left: 0;
      height: 276px;
    }
  }

  &__bottom-wrapper {
    @extend %display-center;
    padding: 15px 0;
    background: #f4f4f4;
  }

  &__bottom-text {
    align-items: end;
    margin: 0 16px 0 0;
    color: #575757;
  }

  &__bottom-link {
    font-size: 14px;
  }

  @include respond-to($l-tablet) {
    &__social::after {
      height: 508px;
    }

    &__popular-country {
      margin: 0;
    }

    &__info {
      display: block;
    }

    &__contact {
      margin: 60px 0 0;
    }
  }

  @include respond-to($tablet) {
    &__bottom-link {
      display: none;
    }

    &__wrapper {
      display: block;
      // margin: 0 0 0 60px;
    }

    &__social {
      display: flex;
      margin: 62px 0 0;
      padding: 0;
    }

    &__popular-country {
      max-width: 334px;
    }

    &__social::after {
      width: 0;
      height: 0;
    }
  }

  @include respond-to($mobile) {
    &__wrapper {
      margin: 0;
    }
  }
}

.fb-page {
  overflow: hidden;
  width: 340px;
  height: auto;
}

.fb-page .fb_iframe_widget_fluid {
  width: 340px !important;
  height: 130px !important;
}

@include respond-to($mobile) {
  .fb-page {
    display: inline-block !important;
    width: 290px;
    height: auto;
  }
  
  .fb-page .fb_iframe_widget_fluid {
    width: 290px !important;
    height: 130px !important;
  }
}
