.footer {
  position: relative;
  padding: 84px 0 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 1500px;
    height: 1px;
    background: $table-gray;
    transform: translateX(-50%);
  }

  &__wrapper {
    @extend %display-jc-sb;
    align-items: start;
    padding: 0 0 110px;
  }

  .icon--clock,
  .icon--message,
  .icon--phone,
  .icon--location {
    opacity: 0.5;
    width: 20px;
    height: 20px;
    margin: 0 12px 0 0;
    padding: 0;
    fill: $green;
  }

  &__info {
    display: flex;
  }

  &__popular-country {
    margin: 0 60px 0 0;
  }

  &__title {
    margin: 0 0 24px;
    font-size: 16px;
    line-height: 1.4;
    color: $gray;
    text-transform: uppercase;
  }

  &__popular-country-list {
    column-count: 2;
    column-gap: 20px;
  }

  &__popular-country-item {
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 1.4;
    transition: color 0.3s ease;

    @media (hover: hover) {
      &:hover {
        color: $primary;
      }
    }
  }

  &__contact-subtitle {
    margin: 0 0 24px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
  }

  &__contact-item:not(:last-child) {
    margin: 0 0 23px;
  }

  &__contact-item {
    @extend %display-flex;
  }

  &__contact-text {
    font-size: 16px;
    line-height: 1.4;
  }

  .icon--instagram {
    margin-right: 20px;
    fill: $cross;
  }

  &__contact-link {
    font-size: 16px;
    line-height: 1.4;
    color: $blue;
    text-decoration: underline;
    transition: color 0.3s ease;

    &:hover {
      color: rgb(93, 0, 255);
    }

    &--bottom {
      font-size: 14px;
    }
  }

  &__contact-first-link {
    @extend %position-rel;
    padding: 0 5px 0 0;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 70%;
      background-color: $user-card-gray;
      transform: translateY(-50%);
    }
  }

  &__social-link-wrapper {
    @extend %display-flex;
    margin: 0 0 24px;
  }

  &__social-link {
    margin-left: 20px;
    font-size: 16px;
    line-height: 1.4;
    color: transparent;
    background: $hot-yellow-orange;
    background-clip: text;
  }

  &__social {
    position: relative;
    padding: 0 0 0 79px;

    &::after {
      @extend %gray-line;
      right: auto;
      left: 0;
      height: 276px;
      margin: 0 15px;
    }
  }

  &__bottom-wrapper {
    @extend %display-center;
    padding: 15px 0;
    background: #f4f4f4;
  }

  &__bottom-text {
    align-items: end;
    margin: 0 16px 0 0;
    color: $link-text;
  }

  @include respond-to($l-tablet) {
    &__social::after {
      height: 508px;
    }

    &__popular-country {
      margin: 0;
    }

    &__info {
      display: block;
    }

    &__contact {
      margin: 60px 0 0;
    }
  }

  @include respond-to($tablet) {
    &__bottom-link {
      display: none;
    }

    &__wrapper {
      display: block;
    }

    &__social {
      display: flex;
      margin: 62px 0 0;
      padding: 0;
    }

    &__popular-country {
      max-width: 334px;
    }

    &__social::after {
      width: 0;
      height: 0;
    }

    &__bottom-link-wrapper {
      display: none;
    }
  }

  @include respond-to($mobile) {
    padding: 40px 0 0;

    &__wrapper {
      margin: 0;
      padding: 0 0 60px;
    }
  }
}
