.header {
  background: $white;

  .icon {
    &--percent {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      fill: $primary;
    }

    &__stopwatch {
      width: 28px;
      height: 24px;
      margin-right: 10px;
      fill: $primary;
    }
  }

  &__logo {
    @extend %position-abs;
    @extend %display-center;
    left: 44px;
    z-index: 2;
    width: 189px;
    height: 154px;

    &-bg {
      @extend %position-abs;
      top: 0;
      left: -73px;
      width: 165px;
      height: 145px;
      border-radius: 50%;
      background: $white;
    }

    &-img {
      @extend %position-abs;
      top: 9px;
      left: -29px;
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }

  &__info {
    @extend %display-end;
    height: 40px;

    &-wrapper {
      justify-content: space-between;
      display: flex;
      width: 622px;
    }

    &-links {
      @extend%display-flex;

      .header__info-link {
        padding-right: 21px;
        font-size: 12px;
        line-height: 25px;
        color: $gray-text;

        &:nth-child(2) {
          padding-right: 22px;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    &-contacts {
      display: flex;
      gap: 10px;
      height: 24px;
      margin: 0 0 0 31px;
      padding: 0 24px;
      border-left: 1px solid $white;

      .icon {
        &__phone,
        &__envelope {
          width: 24px;
          height: 16px;
          padding: 3px 10px 0 0;
          padding-right: 10px;
          fill: $gray-text;
        }
      }

      &-tel,
      &-mail {
        @extend %display-flex;
        padding-right: 27px;
        font-size: 12px;
        line-height: 16px;
        color: $gray-text;

        span {
          opacity: 0.7;
          padding-right: 10px;
          font-size: 13px;
          color: $gray-text;
        }
      }
    }

    &-personal {
      @extend %display-flex;
      align-items: center;

      .burger {
        cursor: pointer;
        display: none;
        font-size: 21px;
        color: $dark-blue;

        .icon__list-horizontal {
          width: 22px;
          height: 16px;
          fill: $dark-blue;
        }
      }

      .header__personal {
        padding-right: 22px;
        font-size: 20px;
        color: $dark-blue;

        .icon__user {
          width: 22px;
          height: 20px;
          fill: $dark-blue;
        }
      }

      .header__country {
        overflow: hidden;
        margin-right: 2px;
        border-radius: 50%;
      }
    }
  }

  &__navigation {
    @extend %display-end;
    height: 60px;
  }

  &__nav {
    display: flex;
  }

  &__nav-item {
    @extend %display-flex;
    @extend %position-rel;
    margin-right: 24px;
    font-size: 16px;
    line-height: 22px;

    &:nth-child(2) {
      margin-right: 16px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__nav-link {
    @extend %display-flex;
    align-items: center;
    letter-spacing: -0.5px;
    color: $blue;
    text-align: center;
    text-transform: uppercase;

    span {
      margin-right: 6px;
      font-size: 16px;
      color: $primary;

      &:hover {
        color: $light-gray;
      }
    }

    &:hover {
      color: $primary;
    }
  }

  &__nav-link--hot {
    &:hover {
      color: $white;
      fill: $white;
    }
  }

  .burger {
    cursor: pointer;
    align-items: center;
    display: none;

    .icon__list-horizontal {
      width: 22px;
      height: 16px;
      fill: $dark-blue;
    }
  }
}

.sidebar {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 4;
  display: none;
  width: 80%;
  padding: 24px 24px 77px 22px;
  background: $white;
  transition: all 0.4s;

  &.sidebar_active {
    left: 0;
    display: block;
    transform: translateX(0);
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    height: 550px;
  }

  &__logo-img {
    width: 48px;
    height: 67px;
  }

  &__list {
    margin-top: 22px;

    &-item {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;

      &-link {
        color: $blue;
      }
    }
  }

  &__info {
    padding: 16px 0 22px;
    border-top: 1px solid $black-shadow-10;
    border-bottom: 1px solid $black-shadow-10;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 16px;
    margin-left: 2px;
  }

  &__mail,
  &__tel {
    @extend %display-flex;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    color: $gray-text;
  }

  &__icon {
    width: 13px;
    height: 11px;
    margin-right: 5px;
  }

  &__tel--number {
    margin-right: 10px;
  }

  &__country {
    margin: 25px 0 0;

    &-img {
      overflow: hidden;
      width: 20px;
      height: 20px;
      margin-right: 15px;
      border-radius: 50%;
    }

    &-text {
      font-size: 16px;
      line-height: 22px;
      color: $text;
    }
  }
}

@include respond-to($lap-top) {
  // соответствует 1280px
  .header {
    &__navigation {
      height: 60px;

      .header__nav {
        display: flex;

        .header__nav-item {
          font-size: 14px;
        }
      }
    }
  }

  .header__logo {
    left: 105px;
    width: 140px;
    height: 125px;
    transform: translateX(-50%);

    &-bg {
      top: 1px;
      left: -21px;
      width: 150px;
      height: 140px;
    }

    &-img {
      top: 13px;
      left: 8px;
      width: 88px;
      height: 107px;
      margin-top: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@include respond-to($l-tablet) {
  .header__logo {
    left: 56%;
    width: 110px;
    height: 95px;
    transform: translateX(-50%);

    &-bg {
      top: 1px;
      left: -21px;
      width: 110px;
      height: 100px;
    }

    &-img {
      top: 13px;
      left: 8px;
      width: 48px;
      height: 67px;
      margin-top: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .icon__user {
    width: 27px;
    height: 26px;
    fill: $dark-blue;
  }

  .header__navigation {
    display: none;
  }

  .header__info {
    height: 49px;
    padding: 0 2px 0 6px;

    &-wrapper {
      width: 100%;
    }

    &-links,
    &-contacts {
      display: none;
    }

    &-personal {
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .burger {
      align-items: center;
      display: flex;
    }

    .header__personal {
      align-items: center;
      display: flex;
      padding-right: 0;
      font-size: 28px;
    }

    .header__country {
      display: none;
    }
  }
}

@include respond-to($mobile) {
  // соответствует 568px
  .header__info {
    &-wrapper {
      justify-content: center;
    }
  }
}
