.header {
  background: $white;

  &__logo {
    width: 189px;
    height: 154px;
    @extend %display-center;
    @extend %position-abs;
    left: 44px;
    z-index: 2;

    &-bg {
      @extend %position-abs;
      top: 0;
      left: -73px;
      background: $white;
      border-radius: 50%;
      width: 165px;
      height: 145px;
    }

    &-img {
      margin: 0;
      position: absolute;
      top: 9px;
      left: -29px;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    height: 40px;
    @extend %display-end;

    &-wrapper {
      width: 622px;
      display: flex;
      justify-content: space-between;
    }

    &-links {
      .header__info-link {
        padding-right: 21px;
        font-size: 12px;
        line-height: 25px;
        color: #666;

        &:nth-child(2) {
          padding-right: 22px;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    &-contacts {
      padding: 0 24px;
      margin: 0 0 0 31px;
      height: 24px;
      display: flex;
      border-left: 1px solid #f2f2f2;
      gap: 10px
      ;
      .icon {
        &__phone,
        &__envelope {
          fill: #999;
          padding-right: 10px;
          padding: 3px 10px 0 0;
          width: 24px;
          height: 16px;
        }
      }

      &-tel,
      &-mail {
        padding-right: 27px;
        @extend %display-flex;
        font-size: 12px;
        line-height: 16px;
        color: #666;

        span {
          padding-right: 10px;
          color: #999;
          opacity: 0.7;
          font-size: 13px;
        }
      }

    }

    &-personal {
      @extend %display-flex;
      align-items: center;

      .burger {
        display: none;
        font-size: 21px;
        color: #606c81;
        cursor: pointer;

        .icon__list-horizontal {
          width: 22px;
          height: 16px;
          fill: #606c81;
        }
      }

      .header__personal {
        padding-right: 22px;
        font-size: 20px;
        color: #606c81;

        .icon__user {
          fill: #606c81;
          width: 22px;
          height: 20px;
        }
      }

      .header__country {
        margin-right: 2px;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }

  &__navigation {
    height: 60px;
    @extend %display-end;

    .header__nav {
      display: flex;

      .header__nav-item {
        margin-right: 26px;
        @extend %display-flex;
        @extend %position-rel;
        font-size: 16px;
        line-height: 22px;

        &:hover .header__nav-link {
          color: $primary;
        }

        &:nth-child(2) {
          margin-right: 16px;
        }

        &:last-child {
          margin-right: 0;
        }

        &.header__nav-item_hot {
          .header__nav-link {
            font-weight: 600;
            color: $primary;

            .icon {
              &__percent {
                fill: $primary;
                width: 24px;
                height: 24px;
                margin-right: 10px;
              }

              &__stopwatch {
                fill: $primary;
                width: 28px;
                height: 24px;
                margin-right: 10px;
              }
            }
          }
        }
      }

      .header__nav-link {
        @extend %display-flex;
        align-items: center;
        color: $blue;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -0.5px;

        span {
          margin-right: 6px;
          font-size: 24px;
        }
      }
    }
  }

  .burger {
    display: none;
    align-items: center;
    cursor: pointer;

    .icon__list-horizontal {
      width: 22px;
      height: 16px;
      fill: #606c81;
    }
  }
}

.sidebar {
  padding: 24px 24px 77px 22px;
  width: 80%;
  background: $white;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 4;
  overflow-y: scroll;
  transition: all 0.4s;
  display: none;

  &.sidebar_active {
    transform: translateX(0);
    display: block;
    left: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    height: 550px;
  }

  &__logo-img {
    width: 48px;
    height: 67px;
  }

  &__list {
    margin-top: 22px;

    &-item {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;

      &-link {
        color: $blue;
      }
    }
  }

  &__info {
    padding: 16px 0 22px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &__links {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__contacts {
      margin-top: 16px;
      margin-left: 2px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      .sidebar__mail,
      .sidebar__tel {
        @extend %display-flex;
        align-items: center;
        font-size: 12px;
        line-height: 16px;
        color: #666;

        
        &--icon{
          width: 13px;
          height: 11px;
          margin: 0 5px 0 0;
        }

        &--contacts {
          margin-right: 10px;
        }
      }

      
    }
  }

  &__country {
    margin: 25px 0 0;

    &-img {
      margin-right: 15px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      overflow: hidden;
    }

    &-text {
      font-size: 16px;
      line-height: 22px;
      color: $text;
    }
  }
}

@media (max-width: 1280px) {
  .header{
    &__navigation {
      height: 60px;
      @extend %display-end;
  
      .header__nav {
        display: flex;
  
        .header__nav-item {
          font-size: 14px;
        }
      }
    }
  }

  .header__logo {
    left: 95px;
  }

}

@media (max-width: 1024px) {
  .header__logo {
    width: 110px;
    height: 95px;
    left: 56%;
    transform: translateX(-50%);

    &-bg {
      top: 1px;
      left: -21px;
      width: 110px;
      height: 100px;
    }

    &-img {
      margin-top: 0;
      width: 48px;
      height: 67px;
      top: 13px;
      left: 8px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .icon__user {
    fill: #606c81;
    width: 27px;
    height: 26px;
  }

  .header__navigation {
    display: none;
  }

  .header__info {
    padding: 0 2px 0 6px;
    height: 49px;

    &-wrapper {
      width: 100%;
    }

    &-links,
    &-contacts {
      display: none;
    }

    &-personal {
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }

    .burger {
      display: flex;
      align-items: center;
    }

    .header__personal {
      padding-right: 0;
      display: flex;
      align-items: center;
      font-size: 28px;
    }

    .header__country {
      display: none;
    }
  }
}

@media (max-width: 568px) {
  .header__info {
    &-wrapper {
      justify-content: center;
    }
  }
}

