.banner {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;

  &__img {
    width: 100%;
    max-width: 1920px;
    height: 320px;
    margin: 0 auto;
    background-image: url('/public/assets/images/components/banner/banner-img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0, 100% 100%, 53% 90%, 33% 91%, 0 100%, 0 0);
  }

  &__card-img {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 94% 90%, 89% 85%, 84% 83%, 64% 85%, 38% 94%, 0 100%, 0 0);
  }

  &__block {
    position: absolute;
    bottom: 35px;
    left: 98px;
    display: none;
    width: 304px;
    height: 85px;
    padding: 12px 19px;
    border-radius: 8px;
    background: $white;

    &.active {
      display: block;
    }
  }

  &__block-title {
    margin-right: 15px;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__stars-list {
    align-items: start;
    display: flex;
  }

  &__star-item:not(:last-child) {
    margin-right: 4px;
  }

  .icon--star {
    width: 18px;
    height: 18px;
    fill: $yellow;
  }

  .icon--cross {
    display: flex;
    flex-direction: column;
    width: 10px;
    height: 10px;
    fill: $yellow;
    rotate: 45deg;
  }

  .icon--location {
    width: 10px;
    height: 15px;
    margin-right: 9px;
    fill: $green;
  }

  &__block-location-wrapper {
    @extend %display-flex;
    margin-top: 8px;
  }

  &__block-title-wrapper {
    justify-content: space-between;
    display: flex;
  }

  @include respond-to($l-tablet) {
    &__img,
    &__card-img {
      background-image: url('/public/assets/images/components/banner/banner-img-mob.jpg');
    }

    &__card-img {
      clip-path: none;
    }

    &__block {
      bottom: 35px;
      left: 35px;
    }
  }

  @include respond-to($mobile) {
    &__img,
    &__card-img {
      height: 191px;
      clip-path: none;
    }

    &__block {
      bottom: 18px;
      left: 18px;
    }
  }

  @include respond-to($s-mobile) {
    &__block {
      bottom: 14px;
      left: 14px;
      width: 240px;
      height: 65px;
    }

    &__block-title {
      font-size: 20px;
    }

    .icon--star {
      width: 12px;
      height: 12px;
    }

    .icon--cross {
      width: 6px;
      height: 6px;
    }
  }
}
