.-container {
  max-width: 1200px;
}

.icon {
  &--search-stopwatch {
    width: 28px;
    height: 24px;
    margin: 0 5px 0 0;
    fill: $cross;
  }

  &--btn-close {
    width: 20px;
    height: 20px;
    fill: $primary;
  }
}

.icon--search-title {
  display: none;
}

.icon--search-title-vie {
  display: block;
}

.search {
  position: relative;
  top: -97px;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;

  &__content {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    background: $white;
    box-shadow: 0 5px 10px 0 #0000001a;
  }

  &__title {
    display: flex;
    padding: 17px 0 11px 32px;
    font-size: 18px;
    line-height: 1.36;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__wrapper {
    height: 89px;
    padding: 15px 32px;
    background: linear-gradient(180deg, #fccb04 0%, #ee901b 100%);
  }

  .icon__calendar {
    fill: #a9a9a9;
  }

  .icon__arrow-down {
    transition: transform 0.3s ease;
  }

  .icon__arrow--down {
    transition: transform 0.3s ease;
  }

  .icon__magnifying-glass {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    fill: $white;
  }

  .icon--star {
    width: 18px;
    height: 18px;
    margin: 0 4px 0 0;
    fill: #ffe489;
  }

  .icon__house {
    width: 16px;
    height: 16px;
    margin: 0 8px 0 0;
    fill: $white;
  }

  .icon__checkmark-circle {
    width: 16px;
    height: 16px;
    margin: 0 8px 0 0;
    fill: $white;
  }

  .item__guests--text {
    color: $gray-text;
  }

  .dropdown__list::-webkit-scrollbar {
    display: none;
  }

  .dropdown--open .icon__arrow-down {
    transform: rotate(180deg);
  }

  .search__advance--search {
    @extend %display-flex;
    max-width: 207px;
    line-height: 1.35;
    letter-spacing: 0.5px;
    color: $primary;

    .icon--search-plus {
      width: 16px;
      height: 16px;
      margin: 0 8px 0 0;
      fill: $primary;
    }
  }

  // &__advance--search.active {
  //   width: 300px;
  //   padding: 0;
  //   font-size: 18px;
  //   letter-spacing: 1px;
  //   color: $text;

  //   .icon--search-plus {
  //     display: none;
  //     margin: 0 8px 0 0;
  //     fill: $primary;
  //   }
  // }

  &__line {
    opacity: 1;
    width: 100%;
    height: 1px;
    margin: 0 21px 0 24px;
    background: $gray-text;
    transition: 0.9s ease;
  }

  &__btn-close {
    opacity: 1;
    align-items: center;
    display: flex;
    margin: 0 9px;
    line-height: 19px;
    transition: 0.9s ease;
  }
}

.search-bar {
  display: flex;
  height: 60px;
  border-radius: 10px;
  background: $white;

  &__destination {
    position: relative;
    display: inline-block;
    width: 258px;
    height: 60px;
    border-right: 1px solid #e2e2e2;
  }

  &__duration,
  &__date {
    width: 180px;
    height: 60px;
    border-right: 1px solid #e2e2e2;
  }

  &__title {
    margin: 7px 0 0 16px;
    color: $gray-text;
  }

  &__guests {
    width: 316px;
    height: 60px;
  }

  .dropdown--open .dropdown__list {
    max-height: 206px;
  }

  .dropdown--open:last-child .dropdown__list:last-child {
    max-height: 235px;
  }

  &__subitem {
    @extend %display-jc-sb;
    width: 100%;
    padding: 12px;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    font-family: $font-family-second;
    font-size: 16px;
    color: $text;
  }

  &__subitem-subrow {
    @extend %display-jc-sb;
    width: 100%;
    max-width: 71px;
  }

  &__guests-add {
    width: 100%;
    height: 42px;
    border: 1px solid #f68521;
    font-family: $font-family-second;
    font-size: 16px;
    color: $text;

    &:hover {
      background: $white;
    }
  }

  &-btn {
    @extend %display-center;
    width: 100%;
    max-width: 172px;
    height: 60px;
    border-radius: 0 6px 6px 0;
    letter-spacing: 0.7px;
    color: $white;
    text-transform: uppercase;
    background: #13882d;
  }
}

.dropdown {
  cursor: pointer;
  position: relative;
  user-select: none;

  &__row {
    @extend %display-jc-sb;
    padding: 8px 13px 5px 8px;
    border-radius: 4px;
    background-color: $white;
  }

  &__current {
    margin: 0 0 0 7px;
    font-family: $font-family-second;
    font-size: 16px;
    letter-spacing: 0;
  }

  &__list {
    overflow-y: scroll;
    position: absolute;
    top: 26px;
    left: 0;
    z-index: 1000;
    // display: none;
    width: 100%;
    max-height: 0;
    margin: 2px 0 0;
    padding: 0 0 0 6px;
    border: 1px solid $white;
    border-radius: 4px;
    background-color: $white;
    transition: max-height 0.3s ease;

    &.active {
      // display: block;
      border: 1px solid $light-gray;
    }
  }

  &__item {
    cursor: pointer;
    padding: 8px;
    font-family: $font-family-second;
    font-size: 16px;
    list-style: none;
    transition: background-color 0.3s;

    &:hover {
      color: $primary;
    }
  }

  &__item--guests {
    display: flex;
    margin-bottom: 16px;
    padding: 0 10px 0 4px;

    &:last-child {
      margin-bottom: 10px;
    }

    &:first-child {
      margin-top: 5px;
    }
  }
}

.search-row {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 0 32px 0 26px;
  border-radius: 0 0 10px 10px;
  background: $white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  transition: 0.6s ease;

  &__sub {
    @extend %display-flex;
    align-items: center;
    padding: 17px 0;
  }

  &.active {
    padding: 0 29px 0 34px;

    .icon--search-plus {
      display: none;
    }

    .search__advance--search {
      display: block;
      width: 265px;
      padding: 0;
      font-size: 18px;
      color: $text;
    }
  }
}

.category {
  &__title {
    margin-bottom: 16px;
    letter-spacing: 0.6px;
    font-weight: 700;
    color: #000;
  }

  &__items {
    visibility: visible;
    opacity: 1;
    justify-content: space-between;
    display: flex;
    min-height: 53px;
    margin-top: 18px;
  }

  &__rating {
    margin: 0 10px 0 0;
  }

  &__rating-stars {
    margin-bottom: 43px;
  }

  &__fly {
    width: 231px;
    margin: 0 10px 0 0;

    #slider {
      margin: 30px 0;
    }

    .noUi-target {
      border-radius: 10px;
      background: #e5e5e5;
    }

    .noUi-connect {
      background: orange;
    }

    .noUi-handle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #ff6c00;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    .noUi-tooltip {
      margin-top: 10px;
      border: none;
      color: $text;
      text-align: center;
      text-shadow: none;
      background: none;
      box-shadow: none;
    }

    #date-picker {
      width: 100%;
      padding: 8px;
      border: none;
      font-size: 14px;
    }

    .noUi-target {
      position: relative;
      display: block;
      border: none !important;
      border-radius: 0 !important;
      background: $white !important;
      box-shadow:
        inset 0 1px 1px #f0f0f0,
        0 3px 6px -5px #bbb;

      *,
      & {
        box-sizing: border-box;
        user-select: none;
        touch-action: none;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    }

    .noUi-horizontal {
      height: 3px !important;

      .noUi-handle {
        cursor: default;
        position: absolute;
        top: -8px !important;
        right: 0 !important;
        width: 20px !important;
        height: 20px !important;
        border: 1px solid #d9d9d9 !important;
        border-radius: 50% !important;
        background: #f68521 !important;
        box-shadow: 0 3px 10px 0 rgba(247, 143, 31, 0.5) !important;

        .noUi-touch-area {
          display: none;
          width: 100%;
          height: 100%;
        }
      }

      .noUi-tooltip {
        bottom: 120%;
        left: 50%;
        padding: 5px;
        border: 1px solid #d9d9d9;
        border-radius: 3px;
        color: #000;
        text-align: center;
        white-space: nowrap;
        background: $white;
        transform: translate(-50%, 0);
      }
    }

    .noUi-horizontal .noUi-origin {
      width: 210px !important;
      height: 0;
    }

    .noUi-base,
    .noUi-connects {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
    }

    .noUi-connects {
      overflow: hidden;
      z-index: 0;
      border-radius: 3px;
    }

    .noUi-connect,
    .noUi-origin {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      transform-origin: 0 0;
      transform-style: preserve-3d;
      transform-style: flat;
      will-change: transform;
    }

    .noUi-tooltip {
      position: absolute;
      display: block;
      padding: 5px;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      color: #000;
      text-align: center;
      white-space: nowrap;
      background: $white;
    }
  }

  &__lineup {
    margin: 0 0 40px;
  }

  &__regions {
    width: 100%;
    max-width: 478px;
  }

  &__regions-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__btns {
    @extend %display-flex;
    margin-bottom: 12px;
    color: $text;
    text-align: left;
  }

  &__btns--svg.clicked {
    fill: $primary;
  }

  &__price {
    margin-top: 48px;
  }

  .category__slider {
    position: relative;
    width: 231px;
    margin-top: 48px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -8px;
      width: 18px;
      height: 100%;
      background: $white;
      transform: translateY(-50%) rotate(-90deg);
    }

    &::after {
      right: -8px;
      left: auto;
    }
  }

  &__filter-line {
    opacity: 0.2;
    width: 100%;
    height: 1px;
    background: $gray-text;
  }

  &__filter-item {
    @extend %display-flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 51px;
    padding-bottom: 23px;
  }

  &__filter-rating {
    margin-left: 8px;
  }

  &__filter-title {
    color: $gray-text;
  }

  .filter-title-second {
    margin: 0 20px 0 0;
    margin-left: 34px;
  }

  &__filter-stars {
    display: flex;
    height: 22px;
    border: 1px solid #e2e2e2;
    text-align: center;
    box-shadow: 0 2px 3px 0 #0000001a;

    span {
      margin: 0 auto;
    }
  }

  &__filter--group {
    display: flex;
  }

  .stars-box-one {
    width: 65px;
  }

  .stars-box-two {
    width: 75px;
    margin: 0 24px 0 9px;
  }

  .stars-box-three {
    width: 111px;
    margin: 0 0 0 12px;
  }
}

.search__line,
.search-row__panel,
.search__btn-close,
.search__btn-minus {
  display: none;
}

.search-row.active .search__line,
.search-row.active .search-row__panel {
  display: block;
}

.search-row.active .search__btn-minus,
.search-row.active .search__btn-close {
  align-items: center;
  display: inline-block;
}

.noUi-handle {
  &::before,
  &::after {
    display: none !important;
  }
}

.flatpickr-day.selected {
  border-color: $primary !important;
  background: $primary !important;
}

@media (width <=1170px) {
  .search {
    &__content {
      border-radius: 0;
    }

    &-row {
      border-radius: 0;
    }
  }
}

@media (width <= 1024px) {
  .search {
    &__wrapper {
      padding: 15px;
    }

    .category {
      &__rating {
        min-width: 173px;
      }
    }

    .search-bar {
      &__destination {
        min-width: 180px;
      }

      &__duration {
        min-width: 150px;
      }

      &__date {
        min-width: 150px;
      }

      &__guests {
        min-width: 205px;
      }
    }
  }

  .dropdown {
    &__current {
      font-size: 15px;
    }
  }
}

@media (width <= 900px) {
  .dropdown {
    &__current {
      font-size: 14px;
    }
  }
}

@media (width <= 875px) {
  .search {
    top: 0;

    &__content {
      top: -4px;
    }

    &__title {
      padding: 17px 0 11px 32px;
      font-size: 18px;
      line-height: 1.36;
      font-weight: 700;
      text-align: center;
    }

    &__wrapper {
      height: 100%;
      padding: 15px;
    }
  }

  .search-bar {
    display: block;
    height: 100%;

    &__destination {
      width: 100%;
      min-width: 290px;
      border-bottom: 1px solid $light-gray;
    }

    &__duration {
      width: 100%;
      min-width: 290px;
      border-bottom: 1px solid $light-gray;
    }

    &__date {
      width: 100%;
      min-width: 290px;
      border-bottom: 1px solid $light-gray;
    }

    &__guests {
      width: 100%;
      min-width: 290px;
      border-bottom: 1px solid $light-gray;
    }

    &-btn {
      width: 100%;
      min-width: 100%;
      margin: 0;
      border-radius: 0 0 10px 10px;
    }
  }

  .dropdown {
    &__current {
      font-size: 16px;
    }

    &__list {
      border: none;
    }
  }

  .category {
    &__items {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }

    &__rating {
      grid-column: 1;
      grid-row: 1;
      min-width: 173px;
    }

    &__fly {
      grid-column: 2;
      grid-row: 1;
    }

    &__regions {
      grid-column: 1/3;
      grid-row: 2;
    }

    &__filter-item {
      gap: 10px;
    }
  }
}

@media (width <= 529px) {
  .search {
    top: 0;

    &__wrapper {
      padding: 15px;
    }

    &__advance--search {
      margin: 0 auto;
    }

    &__advance--search.active {
      font-size: 16px;
      letter-spacing: 0;
    }
  }

  .search-bar {
    &__title {
      margin: 15px 0 5px 16px;
    }

    &__destination {
      height: 71px;
    }

    &__duration {
      height: 65px;
    }

    &__date {
      height: 65px;
    }

    &__title {
      margin: 7px 0 3px 16px;
    }

    &__guests {
      height: 55px;
    }

    &__title {
      margin: 7px 0 3px 16px;
    }

    &-btn {
      height: 49px;

      .icon__magnifying-glass {
        display: none;
      }
    }

    .dropdown__list {
      border: none;
    }
  }

  .category {
    &__items {
      display: grid;
      grid-template-columns: 1fr;
      gap: 25px;
    }

    &__rating {
      grid-column: 1;
      grid-row: 1;
      min-width: 173px;
    }

    &__fly {
      grid-column: 1;
      grid-row: 2;
    }

    &__regions {
      grid-column: 1;
      grid-row: 3;
      margin: 10px 0 0;
    }

    &__filter-title {
      margin: 0 10px 0 0;
    }

    .filter-title-second {
      margin: 0 20px 0 0;
      margin-left: 0;
    }
  }

  .search-row {
    padding: 10px 32px 0 33px;
  }
}
