<section class="search-content">
  <div class="container">
    <div class="search-content__filter">
      <p class="search-content__filter-text"></p>
      <button class="search-content__filter-btn"></button>

      {{! <div class="search-content__filter-select-wrapper">
                <div class="select">
                    <label class="select__sort">Sort by</label>
                    <div class="select__custom">
                        <div class="select__selected">Recently</div>
                        <div class="select__items">
                            <div data-value="nut1" class="select__item">Recently</div>
                            <div data-value="nut2" class="select__item">Popular</div>
                            <div data-value="nut3" class="select__item">Rating</div>
                        </div>
            <svg class="icon icon__triangle-down select__arrow">
                <use xlink:href="/public/sprite.svg#triangle-down"></use>
            </svg>
                    </div>
                </div>

                <div class="select">
                    <label class="filter__sort-select">Sort by</label>
                    <div class="filter__custom-select">
                        <div class="filter__select-selected">Recently</div>
                        <div class="filter__select-items">
                            <div data-value="nut1" class="filter__select-item">Recently</div>
                            <div data-value="nut2" class="filter__select-item">Popular</div>
                            <div data-value="nut3" class="filter__select-item">Rating</div>
                        </div>
                            <svg class="icon icon__message select__arrow">
                                <use xlink:href="/public/sprite.svg#message"></use>
                            </svg>
                    </div>
                </div>
            </div> }}

    </div>
  </div>
</section>