<section class="search-content">
  <div class="container">
    <div class="search-content__filter">
      <p class="search-content__filter-text">Найдено 64 предложения в 24 отелях</p>

      <div class="search-content__filter-wrapper">
        <button class="search-content__filter-btn" id="showCalendarBtn">
          <svg class="icon icon__calendar-euro">
            <use xlink:href="/public/assets/sprites/sprite.svg#calendar-euro"></use>
          </svg>
          <p>Цены на календаре</p>
        </button>

        <div class="search-content__filter-select-wrapper">
          <p class="search-content__filter-select-title">Сортировать:</p>
          <div class="search-content__filter-selects">
            <div class="select search-content__select">
              <div class="select__custom">
                <div class="select__selected">Цена</div>
                <div class="select__items">
                  <div data-value="nut1" class="select__item">50-300€</div>
                  <div data-value="nut2" class="select__item">300-700€</div>
                  <div data-value="nut3" class="select__item">выше 700€</div>
                </div>
                <svg class="icon icon__arrow-down select__arrow">
                  <use xlink:href="/public/assets/sprites/sprite.svg#arrow-down"></use>
                </svg>
              </div>
            </div>

            <div class="select">
              <div class="select__custom search-content__select-custom">
                <div class="select__selected">Возрастающий</div>
                <div class="select__items">
                  <div data-value="nut1" class="select__item">Возрастающий</div>
                  <div data-value="nut2" class="select__item">Ниспадающий</div>
                  <div data-value="nut3" class="select__item">Популярный</div>
                </div>
                <svg class="icon icon__arrow-down select__arrow">
                  <use xlink:href="/public/assets/sprites/sprite.svg#arrow-down"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

<div class="search-content__filter-wrapper-cal">
    <div class="search-content__filter-cal-block">
        <svg class="icon icon__calendar-euro icon__calendar-euro-green">
            <use xlink:href="/public/assets/sprites/sprite.svg#calendar-euro"></use>
        </svg>
        <p class="search-content__filter-cal-text">Сравнение цен на календаре</p>
    </div>
    <button class="main-btn search-content__filter-cal-btn">
        <svg class="icon icon__list">
            <use xlink:href="/public/assets/sprites/sprite.svg#list"></use>
        </svg>
        <p>Список отелей</p>
        </button>
</div>

    </div>

</div>

<div class="container calendar-container">
<div id="calendar"></div>
</div>
    

   

<div class="container">
<div class="search-content__calendar-subtitle" id="selectedDate">
    {{!-- Предложения на <span>24.06.2020</span> от <span>455€</span> --}}
</div>

    <div class="search-content__wrapper">
      <ul class="search-content__hotel-list">

        <li class="search-content__hotel-items">

          <div class="search-content__hotel-item">
            <div class="swiper-container search-content__swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img
                    src="/public/assets/images/search-img.png"
                    alt="Slide 1"
                    width="380"
                    height="250"
                    loading="lazy"
                  /></div>
                <div class="swiper-slide"><img
                    src="/public/assets/images/search-img.png"
                    alt="Slide 2"
                    width="380"
                    height="250"
                    loading="lazy"
                  /></div>
                <div class="swiper-slide"><img
                    src="/public/assets/images/search-img.png"
                    alt="Slide 3"
                    width="380"
                    height="250"
                    loading="lazy"
                  /></div>
              </div>
              <div class="search-content__hotel-location-mob">
                <svg class="icon icon__location">
                  <use xlink:href="/public/assets/sprites/sprite.svg#location"></use>
                </svg>
                <p class="search-content__hotel-location">Болгария, Золотые
                  Пески</p>
              </div>
              <div class="swiper-button-next">
                <svg class="icon icon__arrow-down search-content__arow-r">
                  <use xlink:href="/public/assets/sprites/sprite.svg#arrow-down"></use>
                </svg>
              </div>
              <div class="swiper-button-prev">
                <svg class="icon icon__arrow-down search-content__arow-l">
                  <use xlink:href="/public/assets/sprites/sprite.svg#arrow-down"></use>
                </svg>
              </div>
            </div>

            <div class="search-content__title-mob">
              <h2 class="search-content__hotel-title">Название Отеля здесь</h2>
              <svg class="icon icon__arrow-right">
                <use xlink:href="/public/assets/sprites/sprite.svg#arrow-right"></use>
              </svg>
            </div>

            <div class="search-content__hotel-info">
              <div class="search-content__title-wrapper">
                <h2 class="search-content__hotel-title">Название Отеля здесь</h2>
              </div>

              <div class="search-content__hotel-location-block">
                <svg class="icon icon__location">
                  <use xlink:href="/public/assets/sprites/sprite.svg#location"></use>
                </svg>
                <p class="search-content__hotel-location">Болгария, Золотые
                  Пески</p>
              </div>
              <p class="search-content__hotel-text">Краткое описание отеля.
                Рекомендуем для семейного и молодёжного отдыха. Отель прекрасно
                сочетает в себе как современный комфорт, так и высокий уровень
                обслуживания...</p>
              <a href="" class="search-content__hotel-link">
                <p>Подробнее об отеле</p>
                <svg class="icon icon__arrow-right">
                  <use xlink:href="/public/assets/sprites/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>

            <div class="search-content__hotel-static">
              <ul class="search-content__hotel-stars">
                <li class="search-content__hotel-star">
                  <svg class="icon icon__star">
                    <use xlink:href="/public/assets/sprites/sprite.svg#star"></use>
                  </svg>
                </li>

                <li class="search-content__hotel-star">
                  <svg class="icon icon__star">
                    <use xlink:href="/public/assets/sprites/sprite.svg#star"></use>
                  </svg>
                </li>

                <li class="search-content__hotel-star">
                  <svg class="icon icon__star">
                    <use xlink:href="/public/assets/sprites/sprite.svg#star"></use>
                  </svg>
                </li>
              </ul>

              <ul class="search-content__hotel-short-info">
                <li class="search-content__hotel-short-info-item">
                  <svg class="icon icon__clock">
                    <use xlink:href="/public/assets/sprites/sprite.svg#clock"></use>
                  </svg>
                  <p class="search-content__hotel-short-info-text">7 ночей</p>
                </li>

                <li class="search-content__hotel-short-info-item">
                  <svg class="icon icon__cutlery">
                    <use xlink:href="/public/assets/sprites/sprite.svg#cutlery"></use>
                  </svg>
                  <p class="search-content__hotel-short-info-text">Завтрак</p>
                </li>

                <li class="search-content__hotel-short-info-item">
                  <svg class="icon icon__house">
                    <use xlink:href="/public/assets/sprites/sprite.svg#house"></use>
                  </svg>
                  <p class="search-content__hotel-short-info-text">Standard</p>
                </li>

                <li class="search-content__hotel-short-info-item">
                  <svg class="icon icon__sun">
                    <use xlink:href="/public/assets/sprites/sprite.svg#sun"></use>
                  </svg>
                  <p class="search-content__hotel-short-info-text">Пляж: песок,
                    50 m</p>
                </li>
              </ul>
            </div>

            <div class="search-content__hotel-offer-card">
              <h3 class="search-content__hotel-offer-title">2 предложения от
                <span><span class="search-content__span">460</span>/чел</span>
              </h3>
              <button
                data-target="#table1"
                class="main-btn search-content__hotel-offer-btn"
              >Открыть</button>
            </div>

          </div>

          <div class="search-content__booking-table-container" id="table1">
            <table class="search-content__booking-table">
              <thead class="search-content__thead">
                <tr class="search-content__thead-tr">
                  <th class="search-content__th">Дата</th>
                  <th class="search-content__th">Период</th>
                  <th class="search-content__th">Питание</th>
                  <th class="search-content__th">Тип номера</th>
                  <th class="search-content__th">Мест в самолёте</th>
                  <th class="search-content__th">Стоимость</th>
                  <th class="search-content__th"></th>
                </tr>
              </thead>
              <tbody class="search-content__tbody">
                <tr class="search-content__tbody-tr">
                  <td class="search-content__td">25 июня 2020</td>
                  <td class="search-content__td">7 ночей</td>
                  <td class="search-content__td">Завтраки</td>
                  <td class="search-content__td">Standard</td>
                  <td class="search-content__td">10+</td>
                  <td class="search-content__td">645€/чел</td>
                  <td class="search-content__td search-content__td-btn"><button
                      class="main-btn search-content__choose-btn"
                    >выбрать</button></td>
                </tr>
                <tr class="search-content__tbody-tr">
                  <td class="search-content__td">25 июня 2020</td>
                  <td class="search-content__td">3 ночи</td>
                  <td class="search-content__td">Завтраки</td>
                  <td class="search-content__td">Standard</td>
                  <td class="search-content__td">10+</td>
                  <td class="search-content__td">645€/чел</td>
                  <td class="search-content__td"><button
                      class="main-btn search-content__choose-btn"
                    >выбрать</button></td>
                </tr>
                <tr class="search-content__tbody-tr">
                  <td class="search-content__td">25 июня 2020</td>
                  <td class="search-content__td">2 ночи</td>
                  <td class="search-content__td">Завтраки</td>
                  <td class="search-content__td">Standard</td>
                  <td class="search-content__td">10+</td>
                  <td class="search-content__td">645€/чел</td>
                  <td class="search-content__td"><button
                      class="main-btn search-content__choose-btn"
                    >выбрать</button></td>
                </tr>
                <tr class="search-content__tbody-tr">
                  <td class="search-content__td">25 июня 2020</td>
                  <td class="search-content__td">1 ноч</td>
                  <td class="search-content__td">Завтраки</td>
                  <td class="search-content__td">Standard</td>
                  <td class="search-content__td">10+</td>
                  <td class="search-content__td">645€/чел</td>
                  <td class="search-content__td"><button
                      class="main-btn search-content__choose-btn"
                    >выбрать</button></td>
                </tr>
              </tbody>
            </table>

            <div class="search-content__booking-tab">
              <div class="search-content__filter-select-wrapper">
                <p class="search-content__filter-select-title">Сортировать:</p>
                <div class="search-content__filter-selects">
                  <div class="select search-content__select">
                    <div class="select__custom">
                      <div class="select__selected">Цена</div>
                      <div class="select__items">
                        <div
                          data-value="nut1"
                          class="select__item"
                        >50-300€</div>
                        <div
                          data-value="nut2"
                          class="select__item"
                        >300-700€</div>
                        <div data-value="nut3" class="select__item">выше 700€</div>
                      </div>
                      <svg class="icon icon__arrow-down select__arrow">
                        <use xlink:href="/public/assets/sprites/sprite.svg#arrow-down"></use>
                      </svg>
                    </div>
                  </div>

                  <div class="select">
                    <div class="select__custom search-content__select-custom">
                      <div class="select__selected">Возрастающий</div>
                      <div class="select__items">
                        <div
                          data-value="nut1"
                          class="select__item"
                        >Возрастающий</div>
                        <div
                          data-value="nut2"
                          class="select__item"
                        >Ниспадающий</div>
                        <div
                          data-value="nut3"
                          class="select__item"
                        >Популярный</div>
                      </div>
                      <svg class="icon icon__arrow-down select__arrow">
                        <use xlink:href="/public/assets/sprites/sprite.svg#arrow-down"></use>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>

              <table class="search-content__booking-table-mob">
                <tbody class="search-content__tbody search-content__tbody-mob">
                  <tr class="search-content__tbody-tr">
                    <td class="search-content__th">Дата</td>
                    <td class="search-content__td">25 июня 2020</td>
                  </tr>

                  <tr class="search-content__tbody-tr">
                    <td class="search-content__th">Период</td>
                    <td class="search-content__td">7 ночей</td>
                  </tr>

                  <tr class="search-content__tbody-tr">
                    <td class="search-content__th">Питание</td>
                    <td class="search-content__td">Завтраки</td>
                  </tr>

                  <tr class="search-content__tbody-tr">
                    <td class="search-content__th">Тип номера</td>
                    <td class="search-content__td">Standard</td>
                  </tr>

                  <tr class="search-content__tbody-tr">
                    <td class="search-content__th">Мест в самолёте</td>
                    <td class="search-content__td">10+</td>
                  </tr>

                  <tr class="search-content__tbody-tr">
                    <td class="search-content__th">Стоимость</td>
                    <td class="search-content__td">645€/чел</td>
                  </tr>
                
                </tbody>
              </table>
            <button class="main-btn search-content__choose-btn">выбрать</button>
              

              <table class="search-content__booking-table-mob">
                <tbody class="search-content__tbody search-content__tbody-mob">
                  <tr class="search-content__tbody-tr">
                    <td class="search-content__th">Дата</td>
                    <td class="search-content__td">25 июня 2020</td>
                  </tr>

                  <tr class="search-content__tbody-tr">
                    <td class="search-content__th">Период</td>
                    <td class="search-content__td">7 ночей</td>
                  </tr>

                  <tr class="search-content__tbody-tr">
                    <td class="search-content__th">Питание</td>
                    <td class="search-content__td">Завтраки</td>
                  </tr>

                  <tr class="search-content__tbody-tr">
                    <td class="search-content__th">Тип номера</td>
                    <td class="search-content__td">Standard</td>
                  </tr>

                  <tr class="search-content__tbody-tr">
                    <td class="search-content__th">Мест в самолёте</td>
                    <td class="search-content__td">10+</td>
                  </tr>

                  <tr class="search-content__tbody-tr">
                    <td class="search-content__th">Стоимость</td>
                    <td class="search-content__td">645€/чел</td>
                  </tr>
                </tbody>
              </table>
              <button
                class="main-btn search-content__choose-btn"
              >выбрать</button>
            </div>
          </div>

        </li>

        <li class="search-content__hotel-items">

          <div class="search-content__hotel-item">
            <div class="swiper-container search-content__swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img
                    src="/public/assets/images/search-img-s.png"
                    alt="Slide 1"
                    width="380"
                    height="250"
                    loading="lazy"
                  /></div>
                <div class="swiper-slide"><img
                    src="/public/assets/images/search-img-s.png"
                    alt="Slide 2"
                    width="380"
                    height="250"
                    loading="lazy"
                  /></div>
                <div class="swiper-slide"><img
                    src="/public/assets/images/search-img-s.png"
                    alt="Slide 3"
                    width="380"
                    height="250"
                    loading="lazy"
                  /></div>
              </div>

              <div class="search-content__hotel-location-mob">
                <svg class="icon icon__location">
                  <use xlink:href="/public/assets/sprites/sprite.svg#location"></use>
                </svg>
                <p class="search-content__hotel-location">Болгария, Золотые
                  Пески</p>
              </div>
              <div class="swiper-button-next">
                <svg class="icon icon__arrow-down search-content__arow-r">
                  <use xlink:href="/public/assets/sprites/sprite.svg#arrow-down"></use>
                </svg>
              </div>
              <div class="swiper-button-prev">
                <svg class="icon icon__arrow-down search-content__arow-l">
                  <use xlink:href="/public/assets/sprites/sprite.svg#arrow-down"></use>
                </svg>
              </div>
            </div>

            <div class="search-content__hotel-info">
              <h2 class="search-content__hotel-title">Название Отеля здесь</h2>
              <div class="search-content__hotel-location-block">
                <svg class="icon icon__location">
                  <use xlink:href="/public/assets/sprites/sprite.svg#location"></use>
                </svg>
                <p class="search-content__hotel-location">Болгария, Золотые
                  Пески</p>
              </div>
              <p class="search-content__hotel-text">Краткое описание отеля.
                Рекомендуем для семейного и молодёжного отдыха. Отель прекрасно
                сочетает в себе как современный комфорт, так и высокий уровень
                обслуживания...</p>
              <a href="" class="search-content__hotel-link">
                <p>Подробнее об отеле</p>
                <svg class="icon icon__arrow-right">
                  <use xlink:href="/public/assets/sprites/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>

            <div class="search-content__hotel-static">
              <ul class="search-content__hotel-stars">
                <li class="search-content__hotel-star">
                  <svg class="icon icon__star">
                    <use xlink:href="/public/assets/sprites/sprite.svg#star"></use>
                  </svg>
                </li>

                <li class="search-content__hotel-star">
                  <svg class="icon icon__star">
                    <use xlink:href="/public/assets/sprites/sprite.svg#star"></use>
                  </svg>
                </li>

                <li class="search-content__hotel-star">
                  <svg class="icon icon__star">
                    <use xlink:href="/public/assets/sprites/sprite.svg#star"></use>
                  </svg>
                </li>
              </ul>

              <ul class="search-content__hotel-short-info">
                <li class="search-content__hotel-short-info-item">
                  <svg class="icon icon__clock">
                    <use xlink:href="/public/assets/sprites/sprite.svg#clock"></use>
                  </svg>
                  <p class="search-content__hotel-short-info-text">7 ночей</p>
                </li>

                <li class="search-content__hotel-short-info-item">
                  <svg class="icon icon__cutlery">
                    <use xlink:href="/public/assets/sprites/sprite.svg#cutlery"></use>
                  </svg>
                  <p class="search-content__hotel-short-info-text">Завтрак</p>
                </li>

                <li class="search-content__hotel-short-info-item">
                  <svg class="icon icon__house">
                    <use xlink:href="/public/assets/sprites/sprite.svg#house"></use>
                  </svg>
                  <p class="search-content__hotel-short-info-text">Standard</p>
                </li>

                <li class="search-content__hotel-short-info-item">
                  <svg class="icon icon__sun">
                    <use xlink:href="/public/assets/sprites/sprite.svg#sun"></use>
                  </svg>
                  <p class="search-content__hotel-short-info-text">Пляж: песок,
                    50 m</p>
                </li>
              </ul>
            </div>

            <div class="search-content__hotel-offer-card">
              <h3 class="search-content__hotel-offer-title">2 предложения от
                <span><span
                    class="search-content__span"
                  >460</span>/чел</span></h3>
              <button
                data-target="#table2"
                class="main-btn search-content__hotel-offer-btn"
              >Открыть</button>
            </div>
          </div>

          <div class="search-content__booking-table-container" id="table2">
            <table class="search-content__booking-table">
              <thead class="search-content__thead">
                <tr class="search-content__thead-tr">
                  <th class="search-content__th">Дата</th>
                  <th class="search-content__th">Период</th>
                  <th class="search-content__th">Питание</th>
                  <th class="search-content__th">Тип номера</th>
                  <th class="search-content__th">Мест в самолёте</th>
                  <th class="search-content__th">Стоимость</th>
                  <th class="search-content__th"></th>
                </tr>
              </thead>
              <tbody class="search-content__tbody">
                <tr class="search-content__tbody-tr">
                  <td class="search-content__td">25 июня 2020</td>
                  <td class="search-content__td">7 ночей</td>
                  <td class="search-content__td">Завтраки</td>
                  <td class="search-content__td">Standard</td>
                  <td class="search-content__td">10+</td>
                  <td class="search-content__td">645€/чел</td>
                  <td class="search-content__td search-content__td-btn"><button
                      class="main-btn search-content__choose-btn"
                    >выбрать</button></td>
                </tr>
                <tr class="search-content__tbody-tr">
                  <td class="search-content__td">25 июня 2020</td>
                  <td class="search-content__td">3 ночи</td>
                  <td class="search-content__td">Завтраки</td>
                  <td class="search-content__td">Standard</td>
                  <td class="search-content__td">10+</td>
                  <td class="search-content__td">645€/чел</td>
                  <td class="search-content__td"><button
                      class="main-btn search-content__choose-btn"
                    >выбрать</button></td>
                </tr>
                <tr class="search-content__tbody-tr">
                  <td class="search-content__td">25 июня 2020</td>
                  <td class="search-content__td">2 ночи</td>
                  <td class="search-content__td">Завтраки</td>
                  <td class="search-content__td">Standard</td>
                  <td class="search-content__td">10+</td>
                  <td class="search-content__td">645€/чел</td>
                  <td class="search-content__td"><button
                      class="main-btn search-content__choose-btn"
                    >выбрать</button></td>
                </tr>
                <tr class="search-content__tbody-tr">
                  <td class="search-content__td">25 июня 2020</td>
                  <td class="search-content__td">1 ноч</td>
                  <td class="search-content__td">Завтраки</td>
                  <td class="search-content__td">Standard</td>
                  <td class="search-content__td">10+</td>
                  <td class="search-content__td">645€/чел</td>
                  <td class="search-content__td"><button
                      class="main-btn search-content__choose-btn"
                    >выбрать</button></td>
                </tr>
              </tbody>
            </table>

            <div class="search-content__booking-tab">
                <div class="search-content__filter-select-wrapper">
                    <p class="search-content__filter-select-title">Сортировать:</p>
                    <div class="search-content__filter-selects">
                        <div class="select search-content__select">
                            <div class="select__custom">
                                <div class="select__selected">Цена</div>
                                <div class="select__items">
                                    <div data-value="nut1" class="select__item">50-300€</div>
                                    <div data-value="nut2" class="select__item">300-700€</div>
                                    <div data-value="nut3" class="select__item">выше 700€</div>
                                </div>
                                <svg class="icon icon__arrow-down select__arrow">
                                    <use xlink:href="/public/assets/sprites/sprite.svg#arrow-down"></use>
                                </svg>
                            </div>
                        </div>
            
                        <div class="select">
                            <div class="select__custom search-content__select-custom">
                                <div class="select__selected">Возрастающий</div>
                                <div class="select__items">
                                    <div data-value="nut1" class="select__item">Возрастающий</div>
                                    <div data-value="nut2" class="select__item">Ниспадающий</div>
                                    <div data-value="nut3" class="select__item">Популярный</div>
                                </div>
                                <svg class="icon icon__arrow-down select__arrow">
                                    <use xlink:href="/public/assets/sprites/sprite.svg#arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            
                <table class="search-content__booking-table-mob">
                    <tbody class="search-content__tbody search-content__tbody-mob">
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Дата</td>
                            <td class="search-content__td">25 июня 2020</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Период</td>
                            <td class="search-content__td">7 ночей</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Питание</td>
                            <td class="search-content__td">Завтраки</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Тип номера</td>
                            <td class="search-content__td">Standard</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Мест в самолёте</td>
                            <td class="search-content__td">10+</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Стоимость</td>
                            <td class="search-content__td">645€/чел</td>
                        </tr>
                    </tbody>
                </table>
                <button class="main-btn search-content__choose-btn">выбрать</button>
            
                <table class="search-content__booking-table-mob">
                    <tbody class="search-content__tbody search-content__tbody-mob">
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Дата</td>
                            <td class="search-content__td">25 июня 2020</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Период</td>
                            <td class="search-content__td">7 ночей</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Питание</td>
                            <td class="search-content__td">Завтраки</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Тип номера</td>
                            <td class="search-content__td">Standard</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Мест в самолёте</td>
                            <td class="search-content__td">10+</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Стоимость</td>
                            <td class="search-content__td">645€/чел</td>
                        </tr>
                    </tbody>
                </table>
                <button class="main-btn search-content__choose-btn">выбрать</button>
            </div>
          </div>
        </li>

        <li class="search-content__hotel-items">

          <div class="search-content__hotel-item">
            <div class="swiper-container search-content__swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img
                    src="/public/assets/images/search-img-t.png"
                    alt="Slide 1"
                    width="380"
                    height="250"
                    loading="lazy"
                  /></div>
                <div class="swiper-slide"><img
                    src="/public/assets/images/search-img-t.png"
                    alt="Slide 2"
                    width="380"
                    height="250"
                    loading="lazy"
                  /></div>
                <div class="swiper-slide"><img
                    src="/public/assets/images/search-img-t.png"
                    alt="Slide 3"
                    width="380"
                    height="250"
                    loading="lazy"
                  /></div>
              </div>

              <div class="search-content__hotel-location-mob">
                <svg class="icon icon__location">
                  <use xlink:href="/public/assets/sprites/sprite.svg#location"></use>
                </svg>
                <p class="search-content__hotel-location">Болгария, Золотые
                  Пески</p>
              </div>

              <div class="swiper-button-next">
                <svg class="icon icon__arrow-down search-content__arow-r">
                  <use xlink:href="/public/assets/sprites/sprite.svg#arrow-down"></use>
                </svg>
              </div>
              <div class="swiper-button-prev">
                <svg class="icon icon__arrow-down search-content__arow-l">
                  <use xlink:href="/public/assets/sprites/sprite.svg#arrow-down"></use>
                </svg>
              </div>
            </div>

            <div class="search-content__hotel-info">
              <h2 class="search-content__hotel-title">Название Отеля здесь</h2>
              <div class="search-content__hotel-location-block">
                <svg class="icon icon__location">
                  <use xlink:href="/public/assets/sprites/sprite.svg#location"></use>
                </svg>
                <p class="search-content__hotel-location">Болгария, Золотые
                  Пески</p>
              </div>
              <p class="search-content__hotel-text">Краткое описание отеля.
                Рекомендуем для семейного и молодёжного отдыха. Отель прекрасно
                сочетает в себе как современный комфорт, так и высокий уровень
                обслуживания...</p>
              <a href="" class="search-content__hotel-link">
                <p>Подробнее об отеле</p>
                <svg class="icon icon__arrow-right">
                  <use xlink:href="/public/assets/sprites/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>

            <div class="search-content__hotel-static">
              <ul class="search-content__hotel-stars">
                <li class="search-content__hotel-star">
                  <svg class="icon icon__star">
                    <use xlink:href="/public/assets/sprites/sprite.svg#star"></use>
                  </svg>
                </li>

                <li class="search-content__hotel-star">
                  <svg class="icon icon__star">
                    <use xlink:href="/public/assets/sprites/sprite.svg#star"></use>
                  </svg>
                </li>

                <li class="search-content__hotel-star">
                  <svg class="icon icon__star">
                    <use xlink:href="/public/assets/sprites/sprite.svg#star"></use>
                  </svg>
                </li>
              </ul>

              <ul class="search-content__hotel-short-info">
                <li class="search-content__hotel-short-info-item">
                  <svg class="icon icon__clock">
                    <use xlink:href="/public/assets/sprites/sprite.svg#clock"></use>
                  </svg>
                  <p class="search-content__hotel-short-info-text">7 ночей</p>
                </li>

                <li class="search-content__hotel-short-info-item">
                  <svg class="icon icon__cutlery">
                    <use xlink:href="/public/assets/sprites/sprite.svg#cutlery"></use>
                  </svg>
                  <p class="search-content__hotel-short-info-text">Завтрак</p>
                </li>

                <li class="search-content__hotel-short-info-item">
                  <svg class="icon icon__house">
                    <use xlink:href="/public/assets/sprites/sprite.svg#house"></use>
                  </svg>
                  <p class="search-content__hotel-short-info-text">Standard</p>
                </li>

                <li class="search-content__hotel-short-info-item">
                  <svg class="icon icon__sun">
                    <use xlink:href="/public/assets/sprites/sprite.svg#sun"></use>
                  </svg>
                  <p class="search-content__hotel-short-info-text">Пляж: песок,
                    50 m</p>
                </li>
              </ul>
            </div>

            <div class="search-content__hotel-offer-card">
              <h3 class="search-content__hotel-offer-title">2 предложения от
                <span><span
                    class="search-content__span"
                  >460</span>/чел</span></h3>
              <button
                data-target="#table3"
                class="main-btn search-content__hotel-offer-btn"
              >Открыть</button>
            </div>
          </div>

          <div class="search-content__booking-table-container" id="table3">
            <table class="search-content__booking-table">
              <thead class="search-content__thead">
                <tr class="search-content__thead-tr">
                  <th class="search-content__th">Дата</th>
                  <th class="search-content__th">Период</th>
                  <th class="search-content__th">Питание</th>
                  <th class="search-content__th">Тип номера</th>
                  <th class="search-content__th">Мест в самолёте</th>
                  <th class="search-content__th">Стоимость</th>
                  <th class="search-content__th"></th>
                </tr>
              </thead>
              <tbody class="search-content__tbody">
                <tr class="search-content__tbody-tr">
                  <td class="search-content__td">25 июня 2020</td>
                  <td class="search-content__td">7 ночей</td>
                  <td class="search-content__td">Завтраки</td>
                  <td class="search-content__td">Standard</td>
                  <td class="search-content__td">10+</td>
                  <td class="search-content__td">645€/чел</td>
                  <td class="search-content__td search-content__td-btn"><button
                      class="main-btn search-content__choose-btn"
                    >выбрать</button></td>
                </tr>
                <tr class="search-content__tbody-tr">
                  <td class="search-content__td">25 июня 2020</td>
                  <td class="search-content__td">3 ночи</td>
                  <td class="search-content__td">Завтраки</td>
                  <td class="search-content__td">Standard</td>
                  <td class="search-content__td">10+</td>
                  <td class="search-content__td">645€/чел</td>
                  <td class="search-content__td"><button
                      class="main-btn search-content__choose-btn"
                    >выбрать</button></td>
                </tr>
                <tr class="search-content__tbody-tr">
                  <td class="search-content__td">25 июня 2020</td>
                  <td class="search-content__td">2 ночи</td>
                  <td class="search-content__td">Завтраки</td>
                  <td class="search-content__td">Standard</td>
                  <td class="search-content__td">10+</td>
                  <td class="search-content__td">645€/чел</td>
                  <td class="search-content__td"><button
                      class="main-btn search-content__choose-btn"
                    >выбрать</button></td>
                </tr>
                <tr class="search-content__tbody-tr">
                  <td class="search-content__td">25 июня 2020</td>
                  <td class="search-content__td">1 ноч</td>
                  <td class="search-content__td">Завтраки</td>
                  <td class="search-content__td">Standard</td>
                  <td class="search-content__td">10+</td>
                  <td class="search-content__td">645€/чел</td>
                  <td class="search-content__td"><button
                      class="main-btn search-content__choose-btn"
                    >выбрать</button></td>
                </tr>
              </tbody>
            </table>

            <div class="search-content__booking-tab">
                <div class="search-content__filter-select-wrapper">
                    <p class="search-content__filter-select-title">Сортировать:</p>
                    <div class="search-content__filter-selects">
                        <div class="select search-content__select">
                            <div class="select__custom">
                                <div class="select__selected">Цена</div>
                                <div class="select__items">
                                    <div data-value="nut1" class="select__item">50-300€</div>
                                    <div data-value="nut2" class="select__item">300-700€</div>
                                    <div data-value="nut3" class="select__item">выше 700€</div>
                                </div>
                                <svg class="icon icon__arrow-down select__arrow">
                                    <use xlink:href="/public/assets/sprites/sprite.svg#arrow-down"></use>
                                </svg>
                            </div>
                        </div>
            
                        <div class="select">
                            <div class="select__custom search-content__select-custom">
                                <div class="select__selected">Возрастающий</div>
                                <div class="select__items">
                                    <div data-value="nut1" class="select__item">Возрастающий</div>
                                    <div data-value="nut2" class="select__item">Ниспадающий</div>
                                    <div data-value="nut3" class="select__item">Популярный</div>
                                </div>
                                <svg class="icon icon__arrow-down select__arrow">
                                    <use xlink:href="/public/assets/sprites/sprite.svg#arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            
                <table class="search-content__booking-table-mob">
                    <tbody class="search-content__tbody search-content__tbody-mob">
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Дата</td>
                            <td class="search-content__td">25 июня 2020</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Период</td>
                            <td class="search-content__td">7 ночей</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Питание</td>
                            <td class="search-content__td">Завтраки</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Тип номера</td>
                            <td class="search-content__td">Standard</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Мест в самолёте</td>
                            <td class="search-content__td">10+</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Стоимость</td>
                            <td class="search-content__td">645€/чел</td>
                        </tr>
                    </tbody>
                </table>
                <button class="main-btn search-content__choose-btn">выбрать</button>
            
                <table class="search-content__booking-table-mob">
                    <tbody class="search-content__tbody search-content__tbody-mob">
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Дата</td>
                            <td class="search-content__td">25 июня 2020</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Период</td>
                            <td class="search-content__td">7 ночей</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Питание</td>
                            <td class="search-content__td">Завтраки</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Тип номера</td>
                            <td class="search-content__td">Standard</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Мест в самолёте</td>
                            <td class="search-content__td">10+</td>
                        </tr>
            
                        <tr class="search-content__tbody-tr">
                            <td class="search-content__th">Стоимость</td>
                            <td class="search-content__td">645€/чел</td>
                        </tr>
                    </tbody>
                </table>
                <button class="main-btn search-content__choose-btn">выбрать</button>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</section>