.search-content {
  margin: -70px 0 80px;

  &__filter {
    @extend %display-jc-sb;
  }

  &__filter-wrapper {
    @extend %display-jc-sb;
    flex: 0 0 auto;

    &.nonactive {
      display: none;
    }
  }

  &__filter-text {
    margin: 0 20px 0 0;
    font-size: 24px;
    line-height: 1.4;
  }

  .icon--calendar-euro {
    width: 25px;
    height: 21px;
    margin: 0 12px 0 0;
    fill: $primary;
    transition: fill 0.3s ease;
  }

  &__filter-btn,
  &__filter-cal-btn {
    @extend %display-flex;
    justify-content: center;
    display: flex;
    margin: 0 35px 0 0;
    padding: 11px 17px 12px 13px;
    border: 1px solid $primary;
    border-radius: 6px;
    color: $primary;
    background: $white;
    transition:
      background 0.3s ease,
      color 0.3s ease;
  

    @media (hover: hover) {
      &:hover {
        color: $white;
        background: $primary;

        .icon--calendar-euro {
          fill: $white;
        }
      }
    }
  }

  &__filter-wrapper-cal {
    display: none;

    &.active {
      @extend %display-jc-sb;
      flex-grow: 1;
    }
  }

  &__filter-cal-block {
    @extend %display-flex;
    position: relative;
    padding-left: 21px;

    &::after {
      @extend %gray-line;
      right: auto;
      left: 0;
    }
  }

  .icon--list {
    width: 25px;
    height: 21px;
    margin: 0 12px 0 0;
    fill: $primary;
    transition: fill 0.3s ease;
  }

  .icon_calendar-euro {
    width: 25px;
    height: 21px;
    margin: 0 12px 0 0;
  }

  &__filter-cal-text {
    font-size: 24px;
  }

  &__filter-select-wrapper,
  &__filter-selects {
    @extend %display-flex;
  }

  &__filter-select-title {
    margin: 0 12px 0 0;
    color: $gray;
  }

  &__select-custom {
    width: 200px;
    margin: 0 0 0 10px;
  }

  &__hotel-item {
    position: relative;
    display: grid;
    grid-template-columns: 380px 294px 167px 1fr;
    gap: 40px;
  }

  &__hotel-items {
    position: relative;
    padding: 35px 0 40px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $light-gray;
    }
  }

  &__hotel-info {
    max-width: 294px;
  }

  &__title-mob {
    @extend %display-jc-sb;
    display: none;
  }

  &__hotel-title {
    font-size: 18px;
    font-weight: 400;
  }

  &__hotel-location-block {
    @extend %display-flex;
    width: 214px;
    margin: 12px 0 0;
    padding: 5px 11px;
    border: 1px solid $light-gray;
    border-radius: 6px;
  }

  .icon--location {
    width: 10px;
    height: 14px;
     margin: 0 9px 0 0;
  }

  &__hotel-text {
    overflow: hidden;
    display: -webkit-box;
    margin: 11px 0 0;
    color: $gray;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  &__hotel-link {
    @extend %display-flex;
    margin: 35px 0 0;
    font-size: 16px;
    color: $gray;
    transition: transform 0.3s ease;

    @media (hover: hover) {
      &:hover {
        transform: translateX(10px);
      }
    }
  }

  .icon--arrow-right {
    margin: 0 0 0 20px;
    fill: $primary;
  }

  &__hotel-static {
    max-width: 167px;
  }

  &__hotel-stars,
  &__short-info-item {
    @extend %display-flex;
  }

  &__hotel-stars {
    margin: 0 0 24px;
  }

  .icon--star {
    width: 18px;
    height: 18px;
    fill: #f5c213;
  }

  &__short-info-item:not(:last-child) {
    margin: 0 0 24px;
  }

  &__hotel-star:not(:last-child) {
    margin: 0 4px 0 0;
  }

  .icon--clock,
  .icon--cutlery,
  .icon--house,
  .icon--sun {
    width: 18px;
    height: 18px;
    margin: 0 18px 0 0;
  }

  &__hotel-offer-card {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 240px;
    margin: 0 0 0 auto;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 5px 10px 0 #0000001a;
    transition:
      background 0.5s ease,
      height 0.5s ease-in-out,
      box-shadow 0.5s ease;
  }

  &__hotel-offer-card.active {
    height: 274px;
    padding-bottom: 40px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: rgba(37, 82, 150, 0.059);
    box-shadow: none;
  }

  &__hotel-offer-title {
    margin: 32px 0 0;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
    text-align: center;

  &--strong {
    font-size: 24px;
    font-weight: 700;
  }

  &--grow {
      font-size: 24px;
  }
  }

  &__hotel-offer-btn {
    width: 100%;
    padding: 12px;
  }

  .swiper-container {
    overflow: hidden;
    position: relative;
    max-width: 380px;
    border-radius: 10px;
  }

  .swiper-wrapper {
    z-index: 0;
  }

  .swiper-slide img {
    width: 100%;
    border-radius: 10px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: '';
  }

  &__arow-r,
  &__arow-l {
    position: relative;
  }

  &__arow-r {
    rotate: -90deg;
  }

  &__arow-l {
    rotate: 90deg;
  }

  .swiper-button-next::before,
  .swiper-button-prev::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.3);
    transform: translate(-50%, -50%);

    @media (hover: hover) {
      &:hover {
        background: rgba(255, 255, 255, 0.6);
      }
    }
  }

  .swiper-button-prev svg,
  .swiper-button-next svg {
    width: 7px;
    height: 12px;
    fill: $white;
    transition: fill 0.3s ease;

    @media (hover: hover) {
      &:hover {
        fill: $primary;
      }
    }
  }

  &__hotel-location-mob {
    display: none;
  }

  &__booking-table-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }

  &__booking-tab {
    display: none;
  }

  &__booking-table-container.active {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
  }

  &__booking-table {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 21px 0 25px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-collapse: collapse;
    background-color: rgba(37, 82, 150, 0.059);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &__th,
  &__td {
    padding: 15px 23px;
    text-align: left;
  }

  &__td-btn {
    width: 206px;
  }

  &__th {
    font-weight: 400;
    color: $table-gray;
  }

  &__td {
    font-size: 16px;
  }

  &__thead {
    padding: 0 23px;
  }

  &__thead-tr,
  &__tbody-tr {
    position: relative;
  }

  &__thead-tr::after,
  &__tbody-tr::after {
    content: '';
    position: absolute;
    right: 23px;
    bottom: 0;
    left: 23px;
    height: 1px;
    background-color: $light-gray;
  }

  &__tr:hover {
    background-color: #f1f1f1;
  }

  &__choose-btn {
    width: 100%;
    padding: 8px 16px;
  }

  &__choose-btn:hover {
    background-color: #e67e00;
  }

  &__booking-table-tab {
    display: none;
  }

  .fc-dayGrid-view .fc-day-grid-container {
    display: flex;
    flex-direction: row;
    gap: 46px;
  }

  .fc-dayGrid-view .fc-day-grid {
    flex: 1;
    margin: 0 5px;
  }

  .fc-dayGrid-view .fc-day {
    display: flex;
    flex-direction: column;
  }

  .fc .fc-multimonth-month {
    width: 25% !important;
    border: 1px solid $light-gray;
    border-radius: 6px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

    @include respond-to($lap-top) {
      & {
        width: 33.333% !important;
      }
    }

    @media only screen and (max-width: 900px) {
      & {
        width: 50% !important;
      }
    }

    @media only screen and (max-width: 650px) {
      & {
        width: 100% !important;
      }
    }
  }

  .fc .fc-multimonth {
    overflow: hidden;
    flex-wrap: nowrap;
    gap: 46px;
    padding: 9px;
    border: none;
  }

  .fc .fc-view-harness {
    height: 288px !important;
    margin: 0 88px;
  }

  .fc .fc-multimonth-title {
    padding: 1em 0 0.4em;
    font-size: 16px;
    text-transform: capitalize;
  }

  .fc .fc-col-header-cell-cushion {
    padding: 16px 4px;
  }

  .fc-theme-standard th {
    border-top: none;
    border-right: none;
    border-left: none;
  }

  .fc-multimonth-daygrid-table tr {
    border-bottom: none;
  }

  .fc .fc-multimonth-daygrid {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .fc-direction-ltr .fc-daygrid-more-link,
  .fc .fc-daygrid-event-harness {
    display: none;
  }

  .fc .fc-daygrid-body-balanced .fc-daygrid-day-events {
    position: static;
  }

  .custom-div {
    margin: 7px 0 4px;
    text-align: center;
  }

  .fc-no-event {
    opacity: 0.5;
    pointer-events: none;
    color: #d0d0d0;
    background-color: #f0f0f0;
  }

  .fc .fc-daygrid-day-top {
    justify-content: center;
  }

  .fc-multimonth-daygrid-table {
    height: 189px !important;
  }

  .fc {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }

  .activeCal {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
  }

  #calendar {
    position: relative;
  }

  .calendar-container {
    max-width: 1376px;
  }

  .fc .fc-button {
    position: absolute;
    top: 50%;
    z-index: 100;
    transform: translateX(-50%);
  }

  .fc .fc-next-button {
    right: -21px;
  }

  .fc .fc-prev-button {
    left: 26px;
  }

  .fc .fc-button-primary {
     width: 48px;
    height: 48px;
    border-radius: 50%;
    border-color: rgba(62, 119, 57, 0.4);
    color: rgba(62, 119, 57, 1);
    background-color: rgba(62, 119, 57, 0.4);
  }

  .fc .fc-toolbar.fc-header-toolbar {
    margin: 11px 0;
  }

  .fc-day-selected {
    color: white;
    background-color: #f68521;
  }

  &__calendar-subtitle {
    position: relative;
    display: none;
    margin: 48px 0 10px;
    padding: 0 0 8px;
    font-size: 24px;

    span {
      font-weight: 700;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $light-gray;
    }

    &.active {
      display: block;
    }
  }

  @include respond-to($lap-top) {
    &__filter-text {
      margin: 0 10px 0 0;
      font-size: 18px;
    }

    &__select-custom {
      width: 149px;
    }

    .swiper-container {
      max-width: 320px;
      margin: auto 0;
    }

    &__hotel-offer-card {
      height: 220px;
    }

    &__hotel-item {
      grid-template-columns: 315px 1fr 1fr 1fr;
    }
  }

  @include respond-to($l-tablet) {
    &__filter {
      display: block;
    }

    &__filter-wrapper {
      justify-content: center;
    }

    &__filter-text {
      margin: 0 0 16px;
      font-size: 20px;
      text-align: center;
    }

    &__hotel-item {
      grid-template-columns: 1fr 1fr 167px;
    }

    &__hotel-offer-card {
      grid-column: span 3;
      width: 100%;
      height: 180px;
      margin: 0 auto;
    }

    &__hotel-offer-btn {
      margin: 0 auto;
    }

    &__td {
      font-size: 14px;
    }

    &__filter-wrapper-cal.active {
      justify-content: space-around;
    }

    &__filter-cal-block {
      padding-left: 0;

      &::after {
        width: 0;
        height: 0;
        background: transparent;
      }
    }

    .fc .fc-button {
      position: static;
      padding: 0;
      transform: none;
    }

    .fc .fc-view-harness {
      margin: 0;
    }

    .fc .fc-toolbar {
      justify-content: end;
    }

    .fc .fc-prev-button {
      margin-right: 15px;
    }

    .fc .fc-button-primary {
        width: 40px;
        height: 40px;
    }
  }

  @media (max-width: 875px) {
    margin: 60px 0 80px;
  }

  @include respond-to($tablet) {
    &__filter-wrapper {
      flex-direction: column;
      max-width: 420px;
      margin: 0 auto;
    }

    &__filter-btn {
      order: 2;
      width: 100%;
      margin: 19px 0 0;
    }

    &__filter-select-wrapper {
      order: 1;
      width: 100%;
    }

    &__select-custom {
      width: 161px;
    }

    &__hotel-item {
      grid-template-columns: 1fr 1fr;
    }

    &__hotel-offer-card,
    &__hotel-static {
      grid-column: span 2;
    }

    &__hotel-static {
      max-width: 100%;
    }

    &__short-info-item:not(:last-child) {
      margin: 0;
    }

    &__short-info {
      align-items: center;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    &__booking-table {
      display: none;
    }

    &__booking-tab {
      position: relative;
      display: block;
      width: 100%;
      margin-bottom: 15px;
      padding: 0 21px 18px 25px;
      border-radius: 10px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-collapse: collapse;
      background-color: rgba(37, 82, 150, 0.059);
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &__booking-table-mob {
      width: 100%;
      margin: 13px 0 16px;
      border-collapse: collapse;
    }

    &__tbody-mob {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 20px;
    }

    &__th,
    &__td {
      padding: 5px;
    }

    &__tbody-tr {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__thead-tr::after,
    &__tbody-tr::after {
      height: 0;
      background-color: transparent;
    }

    &__td {
      font-size: 16px;
    }

    &__td-btn {
      width: 100%;
    }

    &__calendar-subtitle {
      display: none;
      margin: 38px 0 0;
      font-size: 16px;
    }

    &__filter-cal-text {
      font-size: 16px;
    }

    &__filter-cal-block {
      margin-bottom: 12px;
    }

    &__filter-wrapper-cal.active {
      flex-direction: column;
    }

    .fc .fc-button-primary {
      position: relative;
      width: 28px;
      height: 28px;
    }

    .fc .fc-next-button {
    right: 0;
}

 .fc .fc-prev-button {
      margin-right: 35px;
    }

    .fc-button .fc-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2em;
    transform: translate(-50%, -50%);
}
  }

  @include respond-to($mobile) {
    &__filter-wrapper {
      max-width: 100%;
    }

    &__filter-select-title {
      margin: 0 0 8px;
    }

    &__filter-select-wrapper {
      display: block;
    }

    &__filter-text {
      margin: 0 auto 16px;
      text-align: start;
    }

    &__select-custom {
      width: 100%;
      margin: 0 0 0 5px;
    }
    
    .select {
      flex-grow: 1;
    }

    .select__custom {
      width: 100%;
    }

    &__title-mob {
      order: 2;
      display: flex;
    }

    &__hotel-item {
      grid-template-columns: 1fr;
      gap: 15px;
    }

    &__hotel-title--laptop,
    &__hotel-location-block {
      display: none;
    }

    &__hotel-text {
      margin: 0;
    }

    &__swiper-container {
      order: 1;
    }

    &__hotel-static {
      order: 3;
      grid-column: span 1;
    }

    &__hotel-info {
      order: 4;
      max-width: 100%;
    }

    &__short-info {
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
    }

    &__hotel-link {
      display: none;
    }

    &__hotel-offer-title {
      margin: 0;
      font-size: 16px;

      span {
        font-size: 16px;
      }
    }

    &__hotel-offer-card {
      order: 5;
      grid-column: span 1;
      height: 103px;
      padding: 12px 15px 15px;

      &.active {
        height: 103px;
      }
    }

    &__hotel-offer-btn {
      width: 160px;
      margin: 12px auto 0;
    }

    .swiper-container {
      max-width: 100%;
    }

    &__hotel-items {
      padding: 24px 0;

      &::after {
        height: 0;
        background: transparent;
      }
    }

    &__hotel-location-mob {
      position: absolute;
      bottom: 10px;
      left: 10px;
      align-items: center;
      z-index: 20;
      display: flex;
      width: 222px;
      padding: 6px 15px;
      border-radius: 6px;
      color: $white;
      background: rgba(0, 0, 0, 0.5);
    }

    .icon--location {
      fill: $white;
    }

    &__tbody-mob {
      grid-template-columns: repeat(1, 1fr);
    }


    &__filter-wrapper-cal.active {
      align-items: start;
    }
  }
}
