.icon {
  width: 24px;
  height: 24px;
  fill: $green;
}

.hide{
  display: none;
}

.card-hover {
  transition: transform 0.3s ease;

  @media (hover: hover) {
    &:hover {
       transform: scale(1.05);
    }
  }
}

.main-btn {
  border: 1px solid $primary;
  border-radius: 6px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  background: $primary;
  transition:
    background 0.3s,
    color 0.3s;

  @media (hover: hover) {
    &:hover {
      color: $text;
      background: $white;
    }
  }

  &.active,
  &:active {
    color: $text;
    background: $white;
  }
}

.small-btn {
  padding: 4px 10px;
  border: 1px solid $primary;
  border-radius: 4px;
  color: $white;
  background: $primary;
  transition:
    background 0.3s,
    color 0.3s;

  @media (hover: hover) {
    &:hover {
      color: $text;
      background: $white;
    }
  }

  &:active,
  &.active {
    color: $text;
    background: $white;
  }
}

.input-btn {
  padding: 12px 31px;
  border: 1px solid $primary;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: $white;
  text-transform: uppercase;
  background: $primary;
  transition:
    background 0.3s,
    color 0.3s;

  @media (hover: hover) {
    &:hover {
      color: $text;
      background: $white;
    }
  }

  &:active,
  &.active {
    color: $text;
    background: $white;
  }
}

.main-tour__title {
  @extend %display-center;
  gap: 7px;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 2.5px;
  font-weight: 700;
  color: $text;
  text-transform: uppercase;

  &--svg {
    width: 30px;
    height: 30px;
    fill: $primary;
  }

  .icon__stopwatch {
    width: 40px;
    height: 30px;
  }

  &--strong {
    color: $primary;
  }
}

.main-tour {
  &__swiper-button-prev,
  &__swiper-button-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 2;
  }

  &__swiper-round {
    @extend %position-rel;
    display: flex;

    &::before {
      @extend %position-abs;
      content: '';
      opacity: 0.1;
      top: 50%;
      left: 50%;
      z-index: -1;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: $green;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s ease;
    }
  }

  &__button-svg {
    width: 32px;
    height: 32px;
    fill: $green;
  }

  &__swiper-button-prev {
    left: -5.5%;
  }

  &__swiper-button-next {
    right: -5.5%;
  }
}

@include respond-to(1355px) {
  .main-tour {
    &__swiper-button-prev,
    &__swiper-button-next {
      top: 13%;

      &::before {
        opacity: 1;
        background: $white;
      }
    }

    &__swiper-button-prev {
      left: 4%;
    }

    &__swiper-button-next {
      right: 4%;
    }
  }
}

@include respond-to($l-tablet) {
  .main-tour {
    &__swiper-button-prev {
      left: 6%;
    }

    &__swiper-button-next {
      right: 6%;
    }
  }

  .main-winter__swiper-button-prev,
  .main-winter__swiper-button-next,
  .main-summer__swiper-button-prev,
  .main-summer__swiper-button-next {
    top: 13%;
  }
}

@include respond-to($tablet) {
  .main-tour {
    &__swiper-button-next,
    &__swiper-button-prev {
      top: 18%;
    }

    &__swiper-button-prev {
      left: 10%;
    }

    &__swiper-button-next {
      right: 10%;
    }
  }

  .main-winter__swiper-button-prev,
  .main-winter__swiper-button-next,
  .main-summer__swiper-button-prev,
  .main-summer__swiper-button-next {
    top: 13%;
  }
}

@include respond-to(525px) {
  .main-tour {
    &__swiper-button-next,
    &__swiper-button-prev {
      top: 27%;
    }
  }

  .main-winter__swiper-button-prev,
  .main-winter__swiper-button-next,
  .main-summer__swiper-button-prev,
  .main-summer__swiper-button-next {
    top: 13%;
  }

  .main-tour__title {
    flex-direction: column;
    gap: 0;
    letter-spacing: 2.5px;

    .icon__stopwatch {
      margin: 0 0 10px;
    }

    &--strong {
      color: $primary;
    }

    &--strong:last-child {
      padding: 14px 0 0;
    }

    .hot__span-title:last-child {
      padding: 0;
    }
  }
}

.select {
  position: relative;

  &__custom {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 149px;
    padding: 12px 16px 11px;
    border: 1px solid $light-gray;
    border-radius: 6px;
    font-family: $font-family-second;
    font-size: 14px;
    background-color: white;
  }

  &__selected {
    position: relative;
  }

  &__items {
    overflow-y: scroll;
    position: absolute;
    top: 40px;
    left: 50%;
    z-index: 1;
    width: 100%;
    max-height: 0;
    padding: 0 6px;
    font-size: 14px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
    scrollbar-width: none;
    transition:
      max-height 0.3s ease,
      padding 0.3s ease,
      border 0.3s ease;
  }

  &__custom.is-active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__custom.is-active .icon--arrow-down {
    rotate: 180deg;
  }

  &__custom.is-active .select__items {
    max-height: 150px;
    padding: 5px 6px;
    border: 1px solid $light-gray;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &__items div {
    cursor: pointer;
    position: relative;
    padding: 8px 0;

    &:not(:last-child)::after {
      content: '';
      opacity: 0.6;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $light-gray;
    }
  }

  &__items div:hover {
    color: $primary;
  }

  &__arrow {
    pointer-events: none;
    position: absolute;
    top: 35%;
    right: 14px;
    width: 7px;
    height: 12px;
    fill: $gray;
  }
}

.form {
&__input {
  width: 100%;
  padding: 12px;
  border: 1px solid $light-gray;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  color: $text;

  &:focus {
  border-color: $primary; 
  outline: none; 
} 
}

&__group {
    margin-bottom: 16px;
  }

  &__subtitle {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: $user-card-gray;
  }

  &__error-message {
    font-size: 12px;
    color: red;
  }
}