$font-family-base: 'Open Sans', sans-serif;
$font-family-second: 'Roboto', sans-serif;
$font-weight-base: 400;
$font-size-base: 14px;

// colors
$black: #000;
$text: #222;
$primary: #f68521;
$light-primary: rgba(246, 133, 33, 0.2);
$green: #3e7739;
$light-green: rgba(62, 119, 57, 0.2);
$dark-green: #13882d;
$blue: #255296;
$dark-blue: #606c81;
$white: #fff;
$gray: #5a5a5a;
$yellow: rgba(245, 194, 19, 1);
$light-yellow: #ffe489;
$light-gray: #e2e2e2;
$table-gray: rgba(102, 102, 102, 1);
$slide-gray: #cecece;
$slide-border-gray: #d9d9d9;
$gray-text: #999;
$gray-bg: #f4f4f4;
$link-text: #575757;
$icon-gray: #B3B3B3;
$facebook: #395185;
$cross: #f15d28;
$user-card-gray: #7d7d7d;

// box-shadow
$light-black: #0000001a;
$black-shadow-10: rgba(0, 0, 0, 0.1);
$black-shadow-30: rgba(0, 0, 0, 0.3);
$black-shadow-29: #00000029;
// line-gradient
$yellow-orange: linear-gradient(180deg, #fccb04 0%, #ee901b 100%);
$hot-yellow-orange: linear-gradient(to right, #f48f0c, #fd1d1d, #f95d1b);

// Минимальная ширина страницы
$min-midth: 320px;
// Ширина полотна (макета)
$max-width: 1366px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$max-width-container: 1200px;
// Общий отступ у контейнера
// (300= по 150px слева и справа, 0 = нет отступа)
$container-padding: 150;
