$font-family-base: 'Open Sans', sans-serif;
$font-family-second: 'Roboto', sans-serif;
$font-weight-base: 400;
$font-size-base: 14px;

// colors
$text: #222;
$primary: #f68521;
$green: #3e7739;
$blue: #255296;
$white: #fff;
$gray: #5a5a5a;
$yellow: rgba(245, 194, 19, 1);
$light-gray: #e2e2e2;
$table-gray: rgba(102, 102, 102, 1);
$gray-text: #999;
$cross: #F15D28;
$user-card-gray: #7D7D7D;

// Минимальная ширина страницы
$min-midth: 320px;
// Ширина полотна (макета)
$max-width: 1366px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$max-width-container: 1200px;
// Общий отступ у контейнера
// (300= по 150px слева и справа, 0 = нет отступа)
$container-padding: 150;
