$fontFamilyBase: 'Open Sans', sans-serif;
$fontWeightBase: 400;
$fontSizeBase: 14px;

$text: #222222;
$primary: #F68521;
$green: #3E7739;
$blue: #255296;
$white: #FFFFFF;


// Минимальная ширина страницы
$minWidth: 320px;
// Ширина полотна (макета)
$maxWidth: 1366px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1200px;
// Общий отступ у контейнера
// (300= по 150px слева и справа, 0 = нет отступа)
$containerPadding: 150;
