<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__info">
        <div class="footer__popular-country">
          <h2 class="footer__title">Популярные направления</h2>
          <ul class="footer__popular-country-list">
            <li class="footer__popular-country-item">
              <a href="#">
                Египет
              </a>
            </li>

            <li class="footer__popular-country-item">
              <a href="#">
                АОЭ
              </a>
            </li>

            <li class="footer__popular-country-item">
              <a href="#">
                Тайланд
              </a>
            </li>

            <li class="footer__popular-country-item">
              <a href="#">
                Болгария
              </a>
            </li>

            <li class="footer__popular-country-item">
              <a href="#">
                Тенерифе
              </a>
            </li>

            <li class="footer__popular-country-item">
              <a href="#">
                Бали
              </a>
            </li>

            <li class="footer__popular-country-item">
              <a href="#">
                Грузия
              </a>
            </li>

            <li class="footer__popular-country-item">
              <a href="#">
                Греция
              </a>
            </li>

            <li class="footer__popular-country-item">
              <a href="#">
                Турция
              </a>
            </li>

            <li class="footer__popular-country-item">
              <a href="#">
                Кипр
              </a>
            </li>
          </ul>
        </div>

        <div class="footer__contact">
          <h2 class="footer__title">Контакты</h2>
          <p class="footer__contact-subtitle">Clubs Travel OÜ</p>

          <ul class="footer__contact-list">
            <li class="footer__contact-item">
              <svg class="icon icon__clock">
                <use xlink:href="/public/sprite.svg#clock"></use>
              </svg>

              <p class="footer__contact-text">Пн-Пт 9:30-18:00, Сб 11:00-15:00</p>
            </li>

            <li class="footer__contact-item">
            <svg class="icon icon__location">
              <use xlink:href="/public/sprite.svg#location"></use>
            </svg>

              <p class="footer__contact-text">Narva mnt 7D, Tallinn (корпус B) 4
                этаж</p>
            </li>

            <li class="footer__contact-item">
            <svg class="icon icon__phone">
              <use xlink:href="/public/sprite.svg#phone"></use>
            </svg>

              <div class="footer__contact-link-wrapper">
                <a
                  href="tel:+37255560310"
                  class="footer__contact-link footer__contact-first-link"
                >+372 555 60 310</a>
                <a href="tel:+3726130633" class="footer__contact-link">+372 61
                  30 633</a>
              </div>

            </li>

            <li class="footer__contact-item">
            <svg class="icon icon__message">
              <use xlink:href="/public/sprite.svg#message"></use>
            </svg>

              <a
                href="mailto:info@clubstravel.ee"
                class="footer__contact-link"
              >info@clubstravel.ee</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__social">
        <div>
          <div class="footer__social-link-wrapper">
            {{! <svg class="">
    <use href="#"></use>
    </svg>  }}

            <a href="#" class="footer__social-link">@booking.clubstravel.ee</a>
          </div>

          <div id="fb-root"></div>
          <script
            async
            defer
            crossorigin="anonymous"
            src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0"
          ></script>

          <div
            class="fb-page"
            data-href="https://www.facebook.com/imdb"
            data-width="340"
            data-height="130"
            data-hide-cover="false"
            data-show-facepile="false"
            data-small-header="true"
          >
            <blockquote
              cite="https://www.facebook.com/imdb"
              class="fb-xfbml-parse-ignore"
            ><a href="https://www.facebook.com/imdb">IMDb</a></blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom-wrapper">
    <p class="footer__bottom-text">&#169;2020 Clubstravel. Все права защищены.</p>
    <div class="footer__bottom-link-wrapper">
      <a href="#" class="footer__contact-link footer__bottom-link">Политика
        конфиденциальности</a>
      <a href="#" class="footer__contact-link footer__bottom-link">Политика
        использования</a>
    </div>
  </div>
</footer>