<section class='banner'>
  <div class='banner__wrapper'>
   
    <div class='banner__img {{banner-class}}'></div>
    
    <div class='banner__block {{banner-block-class}}'>
      <div class='banner__block-title-wrapper'>
       
        <p class='banner__block-title'>AMBASSADOR</p>

        <ul class="banner__stars-list">
          <li class="banner__star-item">
            <svg class="icon icon--star">
              <use xlink:href="/public/assets/sprites/sprite.svg#star"></use>
            </svg>
          </li>

          <li class="banner__star-item">
            <svg class="icon icon--star">
              <use xlink:href="/public/assets/sprites/sprite.svg#star"></use>
            </svg>
          </li>

          <li class="banner__star-item">
            <svg class="icon icon--star">
              <use xlink:href="/public/assets/sprites/sprite.svg#star"></use>
            </svg>
          </li>

          <li class="banner__star-item">
            <svg class="icon icon--cross">
              <use xlink:href="/public/assets/sprites/sprite.svg#cross"></use>
            </svg>
          </li>
        </ul>
      </div>

      <div class="banner__block-location-wrapper">
        <svg class="icon icon--location">
          <use xlink:href="/assets/sprites/sprite.svg#location"></use>
        </svg>

        <span class="banner__block-location-title">Болгария, Золотые Пески</span>
      </div>
    </div>
  </div>
</section>
