<header class="header">
  <div class="container">
    <a href="/ClubTravel/" class="header__logo">
      <div class="header__logo-bg"></div>

      <div class="header__logo-img">
        <picture>
          <source srcset="/assets/images/cTravel-logo.webp" type="image/webp">

          <img src="/assets/images/cTravel-logo.png" alt="logo" width="84" height="114">
        </picture>
      </div>
    </a>

    <div class="header__info">
      <div class="header__info-wrapper">
        <div class="header__info-links">
          <a href="/ClubTravel/src/pages/text__page/text__page.html" class="header__info-link">Страховки </a>

          <a href="/ClubTravel/src/pages//authorization/authorization.html" class="header__info-link">Визы </a>

          <a href="/ClubTravel/src/pages/contacts/contacts.html" class="header__info-link">Контакты</a>
        </div>

        <div class="header__info-contacts">
          <a href="tel:+3726130633" class="header__info-tel">
            <svg class="icon icon--phone">
              <use xlink:href="/assets/sprites/sprite.svg#phone"></use>
            </svg>

            <span>+372 6 130 633</span>
          </a>

          <a href="mailto:contact@email.ee" class="header__info-mail">
            <svg class="icon icon--envelope">
              <use xlink:href="/assets/sprites/sprite.svg#envelope"></use>
            </svg>

            <span>contact@email.ee</span>
          </a>
        </div>

        <div class="header__personal">
          <div class="burger">
            <svg class="icon icon__list-horizontal">
              <use xlink:href="/assets/sprites/sprite.svg#list-horizontal"></use>
            </svg>
          </div>

          <a href="/ClubTravel/src/pages/user-account/user-account.html" class="header__personal-account" aria-label="user">
            <svg class="icon icon--user">
              <use xlink:href="/assets/sprites/sprite.svg#user"></use>
            </svg>
          </a>

          <div class="header__personal-country">
            <img src="/public/assets/images/icons/language.svg" alt="country" width="24" height="24">
          </div>
        </div>
      </div>
    </div>

    <div class="header__navigation">
      <nav class="header__nav">
        <div class="header__nav-item">
          <a href="/ClubTravel/src/pages/search-result/search-result.html" class="header__nav-link">Поиск тура</a>
        </div>

        <div class="header__nav-item">
          <a href="/ClubTravel/src/pages/directions-tour/directions-tour.html" class="header__nav-link">Направления</a>
        </div>

        <div class="header__nav-item header__nav-item--hot">
          <a href="/ClubTravel/src/pages/company/company.html" class="header__nav-link">
            <svg class="icon icon--percent">
              <use xlink:href="/assets/sprites/sprite.svg#percent"></use>
            </svg>

            <span>кампании</span>
          </a>
        </div>
        <div class="header__nav-item header__nav-item--hot">
          <a href="/ClubTravel/src/pages/hot-offers/hot-offers.html" class="header__nav-link">
            <svg class="icon icon--stopwatch">
              <use xlink:href="/assets/sprites/sprite.svg#stopwatch"></use>
            </svg>

            <span>Горящие предложения</span>
          </a>
        </div>

        <div class="header__nav-item">
          <a href="/ClubTravel/src/pages/tour-request/tour-request.html" class="header__nav-link">Запрос тура</a>
        </div>

        <div class="header__nav-item">
          <a href="/ClubTravel/src/pages/404/404.html" class="header__nav-link">авиабилеты</a>
        </div>
      </nav>
    </div>

    <div class="sidebar">
      <div class="sidebar__wrapper">
        <a href="index.html" class="sidebar__logo">
          <div class="sidebar__logo-img">
            <picture>
              <source srcset="/assets/images/cTravel-logo-burger.webp" type="image/webp">

              <img src="/assets/images/cTravel-logo-burger.png" alt="logo" width="84" height="114">
            </picture>
          </div>
        </a>

        <div class="sidebar__list">
          <div class="sidebar__list-item">
            <a href="/ClubTravel/src/pages/search-result/search-result.html" class="sidebar__list-link">Поиск тура</a>
          </div>

          <div class="sidebar__list-item">
            <a href="/ClubTravel/src/pages/directions-tour/directions-tour.html" class="sidebar__list-link">Направления</a>
          </div>

          <div class="sidebar__list-item">
            <a href="/ClubTravel/src/pages/company/company.html" class="sidebar__list-link">Кампании</a>
          </div>

          <div class="sidebar__list-item">
            <a href="/ClubTravel/src/pages/hot-offers/hot-offers.html" class="sidebar__list-link">Горящие предложения</a>
          </div>

          <div class="sidebar__list-item">
            <a href="#" class="sidebar__list-link">Запрос тура</a>
          </div>

          <div class="sidebar__list-item">
            <a href="/ClubTravel/src/pages/404/404.html" class="sidebar__list-link">Авиабилеты</a>
          </div>
        </div>

        <div class="sidebar__info">
          <div class="sidebar__links">
            <a href="#" class="sidebar__link">Визы</a>
            <a href="#" class="sidebar__link">Страховки</a>
            <a href="/ClubTravel/src/pages/contacts/contacts.html" class="sidebar__link">Контакты</a>
          </div>

          <div class="sidebar__contacts">
            <a href="mailto:contact@email.ee" class="sidebar__mail">
              <svg class="icon icon--envelope sidebar__icon">
                <use xlink:href="/assets/sprites/sprite.svg#envelope"></use>
              </svg>
              <span>contact@email.ee</span>
            </a>

            <a href="tel:+3726130633" class="sidebar__tel">
              <svg class="icon icon--phone sidebar__icon">
                <use xlink:href="/assets/sprites/sprite.svg#phone"></use>
              </svg>
              <span class="sidebar__tel--number">+372 6 130 633</span>
            </a>
          </div>
        </div>

        <div class="sidebar__country">
          <div class="sidebar__country-img">
            <img src="/public/assets/images/icons/language.svg" alt="country" width="24" height="24">
          </div>

          <div class="sidebar__country-text">
            <span>Eesti</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>