<header class="header">
  <div class="container">
    <a href="index.html" class="header__logo">
      <div class="header__logo-bg">
        <svg  viewBox="0 0 175 145"  xmlns="http://www.w3.org/2000/svg">
            <path d="M171.591 39.0389C184.07 81.0339 156.58 126.253 110.19 140.039C63.7992 153.824 16.0757 130.956 3.59617 88.9612C-8.88335 46.9661 18.6068 1.74687 64.9972 -12.0388C111.388 -25.8245 159.111 -2.95622 171.591 39.0389Z" >
        </svg>
      </div>
      <div class="header__logo-img">
        <picture>
          <source srcset="/assets/images/cTravel-logo.webp" type="image/webp" />

          <img
            src="/assets/images/cTravel-logo.png"
            alt="logo"
            width="84"
            height="114"
          />
        </picture>
      </div>
    </a>
    <div class="header__info">
      <div class="header__info-wrapper">
        <div class="header__info-links">
          <a href="#" class="header__info-link">Страховки </a>
          <a href="#" class="header__info-link">Визы </a>
          <a href="#" class="header__info-link">Контакты</a>
        </div>
        <div class="header__info-contacts">
          <a href="tel:+3726130633" class="header__info-tel">
            <svg class="icon icon__phone">
              <use xlink:href="sprite.svg#phone"></use>
            </svg>
            +372 6 130 633
          </a>
          <a href="mailto:contact@email.ee" class="header__info-mail">
            <svg class="icon icon__envelope">
              <use xlink:href="sprite.svg#envelope"></use>
            </svg>
            contact@email.ee
          </a>
        </div>
        <div class="header__info-personal">
          <div class="burger">
            <svg class="icon icon__list-horizontal">
              <use xlink:href="sprite.svg#list-horizontal"></use>
            </svg>
          </div>
          <a href="#" class="header__personal">
            <svg class="icon icon__user">
              <use xlink:href="sprite.svg#user"></use>
            </svg>
          </a>
          <div class="header__country">
            <picture>
              <source srcset="/assets/images/language.webp" type="image/webp" />
              <img src="/assets/images/language.webp" alt="country" />
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="header__navigation">
      <nav class="header__nav">
        <div class="header__nav-item">
          <a href="#" class="header__nav-link">Поиск тура</a>
        </div>
        <div class="header__nav-item">
          <a href="#" class="header__nav-link">Направления</a>
        </div>
        <div class="header__nav-item header__nav-item_hot">
          <a href="#" class="header__nav-link">
            <svg class="icon icon__percent">
              <use xlink:href="sprite.svg#percent"></use>
            </svg>
            кампании
          </a>
        </div>
        <div class="header__nav-item header__nav-item_hot">
          <a href="#" class="header__nav-link">
            <svg class="icon icon__stopwatch">
              <use xlink:href="sprite.svg#stopwatch"></use>
            </svg>
            Горящие предложения
          </a>
        </div>
        <div class="header__nav-item">
          <a href="#" class="header__nav-link">Запрос тура</a>
        </div>
        <div class="header__nav-item">
          <a href="#" class="header__nav-link">авиабилеты</a>
        </div>
      </nav>
    </div>
    <div class="sidebar">
      <div class="sidebar__wrapper">
        <a href="index.html" class="sidebar__logo">
          <div class="sidebar__logo-img">
            <picture>
              <source
                srcset="/assets/images/cTravel-logo-burger.webp"
                type="image/webp"
              />

              <img
                src="/assets/images/cTravel-logo-burger.png"
                alt="logo"
                width="84"
                height="114"
              />
            </picture>
          </div>
        </a>
        <div class="sidebar__list">
          <div class="sidebar__list-item">
            <a href="#" class="sidebar__list-link">Поиск тура</a>
          </div>
          <div class="sidebar__list-item">
            <a href="#" class="sidebar__list-link">Направления</a>
          </div>
          <div class="sidebar__list-item">
            <a href="#" class="sidebar__list-link">Кампании</a>
          </div>
          <div class="sidebar__list-item">
            <a href="#" class="sidebar__list-link">Горящие предложения</a>
          </div>
          <div class="sidebar__list-item">
            <a href="#" class="sidebar__list-link">Запрос тура</a>
          </div>
          <div class="sidebar__list-item">
            <a href="#" class="sidebar__list-link">Авиабилеты</a>
          </div>
        </div>
        <div class="sidebar__info">
          <div class="sidebar__links">
            <a href="#" class="sidebar__link">Визы </a>
            <a href="#" class="sidebar__link">Страховки </a>
            <a href="#" class="sidebar__link">Контакты</a>
          </div>
          <div class="sidebar__contacts">
            <a href="mailto:contact@email.ee" class="sidebar__mail">
              <svg class="icon icon__envelope">
                <use xlink:href="sprite.svg#envelope"></use>
              </svg>
              contact@email.ee
            </a>
            <a href="tel:+3726130633" class="sidebar__tel">
              <svg class="icon icon__phone">
                <use xlink:href="sprite.svg#phone"></use>
              </svg>
              +372 6 130 633
            </a>
          </div>
        </div>
        <div class="sidebar__country">
          <div class="sidebar__country-img">
            <picture>
              <source srcset="/assets/images/language.webp" type="image/webp" />
              <img src="/assets/images/language.webp" alt="country" />
            </picture>
          </div>
          <div class="sidebar__country-text">Eesti</div>
        </div>
      </div>
    </div>
  </div>

</header>