<section class="offer">
  <div class="offer__img">
    <div class="offer__wrapper">
      <h2 class="offer__title">НЕТ ВРЕМЕНИ ИСКАТЬ ТУР?</h2>

      <p class="offer__subtitle">
        Просто скажите нам как должен выглядеть отдых вашей мечты и мы найдём лучший тур для вас!
      </p>

      <div class="offer__content-wrapper">
        <div class="offer__content">
          <p class="offer__text">
            Заполните короткую форму запроса на нашем сайте и мы свяжемся с вами в течении 1 часа в рабочее время
          </p>

          <a href="#" class="main-btn offer__btn">ЗАПОЛНИТЬ ЗАЯВКУ НА ПОИСК ТУРА</a>
        </div>

        <div class="offer__content">
          <span class="offer__or-block">или</span>
        </div>

        <div class="offer__content">
          <p class="offer__text offer__text-sec">Свяжитесь с нашим консультантом</p>

          <div class="offer__consultant-wrapper">
            <picture>
              <source srcset="/assets/images/offer-cons.webp" type="image/webp">

              <img
                src="/public/assets/images/offer-cons.jpg"
                alt="woman"
                class="offer__consultant-img"
                width="270"
                height="181"
                loading="lazy"
              >
            </picture>

            <div class="offer__consultant-info">
              <p class="offer__consultant-name">Марина Каасик</p>

              <p class="offer__consultant-prof">Специалист по подбору туров</p>

              <ul class="offer__consultant-list">
                <li class="offer__consultant-item">
                  <a href="#" class="offer__consultant-link">
                    <svg class="icon icon--phone">
                      <use xlink:href="/public/assets/sprites/sprite.svg#phone"></use>
                    </svg>

                    <span class="offer__consultant-link-text">+372 6 130 633</span>
                  </a>
                </li>

                <li class="offer__consultant-item">
                  <a href="#" class="offer__consultant-link">
                    <svg class="icon icon--envelope">
                      <use xlink:href="/public/assets/sprites/sprite.svg#envelope"></use>
                    </svg>

                    <span class="offer__consultant-link-text">contact@email.ee</span>
                  </a>
                </li>

                <li class="offer__consultant-item">
                  <a href="#" class="offer__consultant-link">
                    <svg class="icon icon--message">
                      <use xlink:href="/public/assets/sprites/sprite.svg#message"></use>
                    </svg>

                    <span class="offer__consultant-link-text">Написать в Messenger</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
