.account {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 52px;
}

.account-sidebar {
  &__card {
    width: 314px;
    margin-bottom: 28px;
    padding: 24px;
    background: $white;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  }

  &__img {
    margin: 0 auto;
  }

  &__name {
    margin-top: 10px;
    font-size: 26px;
    line-height: 1.3;
    text-align: center;
  }

  &__menu {
    position: relative;
    margin-top: 26px;
    padding-bottom: 12px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $user-card-gray;
    }
  }

  .icon--percent-circle,
  .icon--credit-card,
  .icon--gear {
    fill: $primary;
  }

  &__item {
    cursor: pointer;
    align-items: center;
    display: flex;
    padding: 9px;
    transition: color 0.3s ease;

    &.active {
      border-radius: 4px;
      background: $light-gray;
    }

    @media (hover: hover) {
      &:hover {
        color: $primary;
      }
    }
  }

  &__text {
    margin-left: 15px;
    font-size: 18px;
    line-height: 1.4;
  }

  &__exit-btn {
    align-items: center;
    display: flex;
    margin-top: 14px;
    color: $user-card-gray;
  }

  .icon--square-right {
    margin-right: 16px;
    fill: $user-card-gray;
  }

  &__policy {
    display: flex;
    flex-direction: column;
  }

  &__link {
    color: $gray-text;
    transition: color 0.3s ease;

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    @media (hover: hover) {
      &:hover {
        color: $table-gray;
      }
    }
  }
}

.account-orders {
  &__title {
    margin-bottom: 24px;
    font-size: 26px;
  }

  &__table {
    box-shadow: 0 3px 6px 0 #00000029;
  }

  &__th {
    font-weight: 700;
  }
}
