.account {
  display: grid;
  grid-template-columns: 314px 1fr;
  gap: 52px;
  padding-bottom: 100px;

  @include respond-to($lap-top) {
    gap: 35px;
    padding-top: 31px;
  }

  @include respond-to($l-tablet) {
    grid-template-columns: 1fr;
    gap: 30px;
    padding-bottom: 50px;
  }

  @include respond-to($mobile) {
    gap: 15px;
  }
}

.account-sidebar {
  &__card {
    width: 314px;
    margin-bottom: 28px;
    padding: 24px;
    background: $white;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  }

  &__img {
    margin: 0 auto;
  }

  &__name {
    margin-top: 25px;
    font-size: 26px;
    line-height: 1.3;
    text-align: center;
  }

  &__menu {
    position: relative;
    margin-top: 26px;
    padding-bottom: 12px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $user-card-gray;
    }
  }

  .icon--percent-circle,
  .icon--credit-card,
  .icon--gear {
    fill: $primary;
  }

  &__item {
    cursor: pointer;
    align-items: center;
    display: flex;
    padding: 9px;
    transition: color 0.3s ease;

    &.active {
      border-radius: 4px;
      background: $light-gray;
    }

    @media (hover: hover) {
      &:hover {
        color: $primary;
      }
    }
  }

  &__text {
    margin-left: 15px;
    font-size: 18px;
    line-height: 1.4;
  }

  &__exit-btn {
    align-items: center;
    display: flex;
    margin-top: 14px;
    color: $user-card-gray;
  }

  .icon--square-right {
    margin-right: 16px;
    fill: $user-card-gray;
  }

  &__policy {
    display: flex;
    flex-direction: column;
  }

  &__link {
    color: $gray-text;
    transition: color 0.3s ease;

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    @media (hover: hover) {
      &:hover {
        color: $table-gray;
      }
    }
  }

  @include respond-to($l-tablet) {
    &__card {
      width: 100%;
    }

    &__menu,
    &__policy {
      justify-content: center;
      display: flex;
      flex-direction: row;
      gap: 15px;
    }
  }

  @include respond-to($l-tablet) {
    &__menu {
      display: block;
    }
  }

  @include respond-to($mobile) {
    &__policy {
      flex-direction: column;
      gap: 0;
    }
  }
}

.account-orders {
  padding-top: 25px;

  &__title {
    margin-bottom: 24px;
    font-size: 26px;
  }

  &__table {
    width: 100%;
    box-shadow: 0 3px 6px 0 $black-shadow-29;

    &--mob {
      display: none;
    }
  }

  &__th {
    padding: 15px 25px;
    font-weight: 700;
  }

  &__thead-tr {
    box-shadow: 0 2px 2px 0 $light-black;
  }

  &__td {
    padding: 22px 25px;
    font-size: 16px;
    text-align: center;
  }

  &__tbody-tr {
    position: relative;

    &::after {
      content: '';
      opacity: 0.2;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $text;
    }
  }

  &__status {
    position: relative;
    font-size: 12px;

    &::after {
      content: '';
      opacity: 0.2;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 99px;
      height: 26px;
      border-radius: 6px;
      transform: translate(-50%, -50%);
    }

    &--paid {
      color: $green;
    }

    &--paid::after {
      content: '';
      background: $green;
    }

    &--unpaid {
      color: $primary;
    }

    &--unpaid::after {
      content: '';
      background: $primary;
    }
  }

  &__pagination-container {
    padding: 20px 18px;

    &--second {
      text-align: end;
    }
  }

  &__pagination-btn {
    cursor: pointer;
    margin: 0 10px;
    padding: 3px 9px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    color: $white;
    background-color: $primary;
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      border 0.3s ease;

    @media (hover: hover) {
      &:hover {
        border: 1px solid $primary;
        color: $primary;
        background-color: $white;
      }
    }
  }

  &__pagination-btn:disabled {
    cursor: not-allowed;
    background-color: $light-gray;
  }

  &__pagination-pages {
    font-size: 16px;

    &--current-page {
      padding: 3px 10px;
      border-radius: 4px;
      background-color: $light-gray;
    }

    &--total-pages {
      color: grey;
    }
  }

  &__pagination-counter {
    font-size: 16px;
    color: $gray-text;
  }

  @include respond-to($lap-top) {
    &__td {
      padding: 18px 10px;
      font-size: 14px;
    }
  }

  @include respond-to($tablet) {
    &__table {
      padding: 0 20px;

      &--mob {
        display: block;
      }

      &--tab {
        display: none;
      }
    }

    &__card-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
      gap: 40px;
    }

    &__card {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 20px 0;

      &::after {
        content: '';
        opacity: 0.2;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $text;
      }
    }

    &__td,
    &__th {
      padding: 5px 0;
      text-align: start;
    }

    &__td {
      font-size: 16px;
    }

    &__status-mob {
      width: 110px;
      padding: 5px;
      border-radius: 4px;
      text-align: center;

      &--paid {
        color: $green;
        background: $light-green;
      }

      &--unpaid {
        color: $primary;
        background: $light-primary;
      }
    }

    &__pagination-container {
      padding: 8px 0;

      &--second {
        text-align: center;
      }
    }

    &__pagination {
      margin-top: 21px;
      text-align: center;
    }
  }

  @include respond-to($mobile) {
    &__table {
      box-shadow: none;

      &--mob {
        padding: 0;
      }
    }

    &__pagination-container {
      &--second {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
      }
    }

    &__pagination-pages {
      order: 3;
      grid-column: span 2;
    }

    &__pagination-btn {
      order: 1;
    }

    &__th {
      width: 100%;
    }

    &__card-list {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
}
