.main__banner-container {
  max-width: 1366px;
  // padding: 0 15px;
  margin: 0 auto;
}

.icon {
  &--chevron {
    fill: $white;
  }
}

.header__banner {
  &__slider {
    @extend %position-rel;
    z-index: 1;
  }

  &__slide {
    height: 550px;
  }

  &__slide img {
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.header__slider .header__button--next,
.header__slider .header__button--prev {
  @extend %display-center;
  top: 49.5%;
  left: 20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: $white;
  background-color: rgba(255, 255, 255, 0.2);



}

.header__slider .header__button--next::after,
.header__slider .header__button--prev::after {
  display: none;
}

.header__slider .header__button--next {
  right: 20px;
  left: auto;

}

@media (max-width: 768px) {
  .header__slider .header__button--next,
  .header__slider .header__button--prev {
    display: none;
  }
}

@media (max-width: 465px) {
  .header__slide img {
    min-height: 191px;
  }
}
