._container {
  max-width: 1200px;
  padding: 0;
}

.main-tour {
  margin: 0;

  &__wrapper {
    @extend %display-flex;
  }

  &__swiper {
    padding: 0 2px 10px;
  }

  &__swiper-wrapper {
    position: relative;
  }

  &__swiper-slide {
    width: 395px !important;
    padding: 0 10px 15px;
    box-sizing: border-box;
  }

  .main-company__swiper {
    margin: 37px 0 12px 0;
  }

  .main-hot__swiper {
    margin: 38px 0 22px;
  }

  &__hotel-card-title {
    font-size: 26px;
    text-align: center;
    display: none;
  }

  .block-class {
    display: block;
  }

  .none-block {
    display: none;
  }

  &__card {
    border-radius: 10px;
    width: 100%;
    height: 330px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
  }

  &__card-img {
    @extend %position-rel;
  }

  .card__bg-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  &__card-line {
    @extend %position-abs;
    right: 16px;
    top: 29px;
    display: flex;
  }

  .icon__card-line {
    position: relative;
    left: 3px;
    top: -4px;
    width: 3px;
    height: 31px;
    fill: #f68521;
  }

  .icon__card-price {
    position: relative;
    left: 0px;
    top: 0px;
    width: 3px;
    height: 31px;
    fill: #f68521;
  }

  &__card-line-wrapper {
    @extend %position-rel;
  }

  &__card-line-price {
    @extend %position-rel;
    left: 67%;
    top: 50%;
    font-weight: 700;
    letter-spacing: 1.5px;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
  }

  &__card-line-wrapper::after {
    content: '';
    @extend %position-abs;
    left: 0;
    top: 0;
    width: 128%;
    height: 31px;
    background: #f68521;
  }

  &__card-data-wrapper {
    @extend %position-abs;
    left: 15px;
    bottom: 14px;
    @extend %display-flex;
    border-radius: 6px;
    padding: 7px 15px 7px 8px;
    background: rgba(0, 0, 0, 0.5);
    gap: 10px;
  }

  .icon__clock {
    width: 16px;
    height: 16px;
    fill: #fff;
  }

  &__card-data {
    font-size: 14px;
    color: #fff;
  }

  .hot-deals__card-data-wrapper {
    position: absolute;
    left: 15px;
    bottom: 58px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 7px 15px 7px 8px;
    background: rgba(0, 0, 0, 0.5);
    gap: 10px;
  }

  .hot-deals__card-place-wrapper {
    position: absolute;
    left: 15px;
    bottom: 14px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 7px 15px 7px 8px;
    background: rgba(0, 0, 0, 0.5);
    gap: 10px;
  }

  .icon__location {
    width: 14px;
    height: 14px;
    fill: #fff;
  }

  .hot-deals__card-place {
    font-size: 14px;
    color: #fff;
  }

  &__card-text {
    padding: 19px 0 5px 21px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1.5px;
  }

  .hot-deals__card-wrappers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 85px;
  }

  .hot-deals__card-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 16px 0;
  }

  .hot-deals__card-text {
    letter-spacing: 1.5px;
  }

  .hot-deals__card-stars-wrapper {
    display: flex;
  }

  .icon__star {
    width: 18px;
    height: 18px;
    fill: #f5c213;
  }

  .hot-deals__card-prices-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .hot-deals__card-price-wrapper {
    display: flex;
    align-items: center;
    padding-left: 16px;
    gap: 8px;
    letter-spacing: 1px;
  }

  &__card-price-new span {
    font-weight: 700;
    color: #000;
  }

  .hot-deals__card-price-old {
    text-decoration: line-through;
    color: #bfbfbf;
  }

  .hot-deals__card-line {
    position: relative;
    left: -43px;
    display: flex;
  }

  .hot-deals__card-line-wrapper {
    position: relative;
  }

  .hot-deals__card-line-price {
    position: relative;
    left: 102%;
    top: 50%;
    font-size: 16px;
    line-height: 1.36;
    font-weight: 700;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
  }

  .hot-deals__card-line-wrapper::after {
    content: '';
    position: absolute;
    left: 3px;
    top: -4px;
    width: 80px;
    height: 31px;
    background: #f68521;
  }

  .hot-deal__card {
    height: 349px;
  }

  .hot-deals__text {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5px;
    padding: 18px 0 4px;
    line-height: 1.18;
    color: #888;
    gap: 6px;
  }

  .hot-deals__img {
    width: 20px;
    height: 20px;
  }

  &__button-wrapper {
    @extend %display-center;
    gap: 8px;
    margin: 0 auto;
  }

  &__button {
    transition: all 0.2s ease;
    color: #555;
    font-size: 16px;
    line-height: 1.36;
    letter-spacing: 1px;
  }

  &__button:hover {
    color: $primary;
  }

  &__button-icon {
    width: 24px;
    height: 24px;
    fill: $primary;
  }
}

@media (max-width: 875px) {
  .main-company {
    margin: 83px 0 0;
  }
}

@media (max-width: 803px) {
  .main-tour {
    &__swiper {
      padding: 0;
    }

    &__swiper-wrapper {
      position: relative;
    }

    &__swiper-slide {
      width: 50% !important;
      padding: 0 15px;
      margin-right: 0 !important;
    }

    .main-company__swiper-slide:nth-child(even) {
      margin-right: 20px !important;
    }

    &__card {
      width: 100%;
    }

    .card__bg-img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }
}

@media (max-width: 578px) {
  .main-tour {
    &__swiper {
      padding: 0;
    }

    &__swiper-wrapper {
      position: relative;
    }

    &__swiper-slide {
      width: 100% !important;
      padding: 0 15px;
      margin-right: 20px !important;
    }
  }
}

@media (max-width: 525px) {
  .main-tour {
    margin: 75px 0 0;

    .main-company__swiper {
      margin: 103px 0 12px;
    }

    .main-hot__swiper {
      margin: 38px 0 0;
    }

    &__swiper {
      padding: 0 2px 10px;
    }

    &__swiper-wrapper {
      position: relative;
    }

    .main-hot {
      margin: 83px 0 0;
    }

    &__card {
      border-radius: 10px;
      width: 100%;
      height: 330px;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
      background: #fff;
    }

    .card__bg-img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    .hot-deal__card {
      height: 349px;
    }

    &__button-wrapper {
      margin: 27px 0 0;
    }

    .hot-deals__text {
      margin: 0 auto;
      text-align: center;
      width: 316px;
      gap: 6px;
    }

    .hot-deals__img {
      width: 20px;
      height: 20px;
    }
  }
}

@media (max-width: 425px) {
  ._container {
    max-width: 1200px;
  }

  .main-tour {
    &__card {
      border-radius: 10px;
      width: 100%;
      height: 330px;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
      background: #fff;
    }

    .hot-deal__card {
      height: 349px;
    }
  }
}
