.-container {
  max-width: 1200px;
  padding: 0;
}

.icon {
  &__card-line {
    @extend %position-rel;
    top: -4px;
    left: 3px;
    width: 3px;
    height: 31px;
    fill: $primary;
  }

  &--card-price {
    @extend %position-rel;
    left: -2px;
    width: 3px;
    height: 31px;
    fill: $primary;
  }

  &--clock {
    width: 16px;
    height: 16px;
    fill: $white;
  }

  &--star {
    width: 18px;
    height: 18px;
    fill: $yellow;
  }

  &--location {
    width: 14px;
    height: 14px;
    fill: $white;
  }
}

.main-tour {
  margin: 0 0 100px;

  &__text {
    @extend %display-center;
    gap: 6px;
    padding: 18px 0 4px;
    line-height: 1.18;
    letter-spacing: 0.5px;
    color: $gray-text;
  }

  &__price--strong {
    margin-right: -5px;
    font-weight: 700;
    color: $black;
  }

  &__wrapper {
    @extend %display-flex;
  }

  &__swiper {
    margin: 37px 0 15px;
    padding: 0 2px 10px;
  }

  &__swiper-wrapper {
    @extend %position-rel;
    @extend %display-flex;
  }

  &__swiper-slide {
    padding: 0 10px 15px;
    box-sizing: border-box;
  }

  .main-company__swiper {
    margin: 43px 0 12px;
  }

  .main-hot__swiper {
    margin: 43px 0 22px;
  }

  &__hotel-card-title {
    display: none;
    font-size: 26px;
    text-align: center;
  }

  .block-class {
    display: block;
  }

  .none-block {
    display: none;
  }

  &__card {
    width: 100%;
    margin: 0 0 10px;
    border-radius: 10px;
    background: $white;
    box-shadow: 0 5px 10px 0 $black-shadow-10;
  }

  &__card-img {
    @extend %position-rel;
  }

  .card__bg-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }

  &__card-line {
    @extend %position-abs;
    top: 29px;
    right: 16px;
    display: flex;
  }

  &__card-line-wrapper {
    @extend %position-rel;
  }

  &__card-line-price {
    @extend %position-rel;
    top: 50%;
    left: 65%;
    z-index: 1;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: $white;
    transform: translate(-50%, -50%);
  }

  &__card-line-wrapper::after {
    @extend %position-abs;
    content: '';
    top: 0;
    left: -2px;
    width: 128%;
    height: 31px;
    background: $primary;
  }

  &__card-data-wrapper {
    @extend %position-abs;
    @extend %display-flex;
    bottom: 14px;
    left: 15px;
    gap: 10px;
    padding: 7px 15px 7px 8px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.5);
  }

  &__card-data {
    font-size: 14px;
    color: $white;
  }

  .hot-deals__card-data-wrapper {
    @extend %position-abs;
    bottom: 58px;
    left: 15px;
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 7px 15px 7px 8px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.5);
  }

  .hot-deals__card-place-wrapper {
    @extend %position-abs;
    @extend %display-flex;
    bottom: 14px;
    left: 15px;
    gap: 10px;
    padding: 7px 15px 7px 8px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.5);
  }

  .hot-deals__card-place {
    font-size: 14px;
    color: $white;
  }

  &__card-text {
    height: 75px;
    padding: 19px 5px 5px 21px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1.5px;
  }

  .hot-deals__card-wrappers {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 95px;
    padding: 0 0 10px;
  }

  .hot-deals__card-text-wrapper {
    @extend %display-jc-sb;
    padding: 18px 10px 0 16px;
  }

  .hot-deals__card-text {
    letter-spacing: 1.5px;
  }

  .hot-deals__card-stars-wrapper {
    display: flex;
  }

  .hot-deals__card-prices-wrapper {
    justify-content: space-between;
    display: flex;
  }

  .hot-deals__card-price-wrapper {
    @extend %display-flex;
    gap: 8px;
    padding-left: 16px;
    letter-spacing: 1px;
  }

  &__card-price-new span {
    font-weight: 700;
    color: $black;
  }

  .hot-deals__card-price-old {
    color: $slide-gray;
    text-decoration: line-through;
  }

  .hot-deals__card-line {
    @extend %position-rel;
    left: -43px;
    display: flex;
  }

  .hot-deals__card-line-wrapper {
    @extend %position-rel;
  }

  .hot-deals__card-line-price {
    @extend %position-rel;
    top: 50%;
    left: 102%;
    z-index: 1;
    font-size: 16px;
    line-height: 1.36;
    font-weight: 700;
    color: $white;
    transform: translate(-50%, -50%);
  }

  .hot-deals__card-line-wrapper::after {
    @extend %position-abs;
    content: '';
    top: -4px;
    left: 3px;
    width: 80px;
    height: 31px;
    background: $primary;
  }

  .hot-deals__img {
    width: 20px;
    height: 20px;
  }

  .hot-deals--lication {
    opacity: 1;
  }

  &__button-wrapper {
    @extend %display-center;
    gap: 8px;
    margin: 15px auto 0;
  }

  &__button {
    font-size: 16px;
    line-height: 1.36;
    letter-spacing: 1px;
    color: $table-gray;
    transition: all 0.2s ease;
  }

  &__button:hover {
    color: $primary;
  }

  &__button-icon {
    width: 24px;
    height: 24px;
    fill: $primary;
  }
}

@include respond-to($l-tablet) {
  .main-tour {
    &__card-text {
      font-size: 15px;
    }
  }

  .main-company {
    margin: 83px 0 0;
  }
}

@include respond-to(875px) {
  .main-company {
    margin: 83px 0 0;
  }
}

@include respond-to(803px) {
  .main-tour {
    &__swiper {
      padding: 0;
    }

    &__swiper-wrapper {
      position: relative;
    }

    &__swiper-slide {
      width: 50% !important;
      margin-right: 0 !important;
      padding: 0 10px;
    }

    .main-company__swiper-slide:nth-child(even) {
      margin-right: 20px !important;
    }

    &__card {
      width: 100%;
    }

    .card__bg-img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }
}

@include respond-to($tablet) {
  .main-tour {
    &__swiper {
      margin: 65px 0 12px;
    }

    .main-company__swiper {
      margin: 70px 0 15px;
    }

    .main-hot__swiper {
      margin: 70px 0 22px;
    }
  }
}

@include respond-to($mobile) {
  .main-tour {
    &__swiper {
      margin: 60px 0 15px !important;
      padding: 0;
    }

    &__swiper-wrapper {
      position: relative;
    }

    &__swiper-slide {
      width: 100% !important;
      margin-right: 20px !important;
      padding: 0 15px;
    }
  }
}

@include respond-to(525px) {
  .main-tour {
    margin: 75px 0 0;

    &__swiper {
      padding: 38px 2px 10px;
    }

    &__swiper-wrapper {
      position: relative;
    }

    .main-hot {
      margin: 83px 0 0;
    }

    &__card {
      width: 100%;
      height: 330px;
      border-radius: 10px;
      background: $white;
      box-shadow: 0 5px 10px 0 $black-shadow-10;
    }

    .card__bg-img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    .hot-deal__card {
      height: 349px;
    }

    &__button-wrapper {
      margin: 20px 0 0;
    }

    &__text {
      @extend %display-center;
      flex-wrap: wrap;
      width: 316px;
      margin: 0 auto;
      text-align: center;
    }

    .hot-deals__img {
      width: 20px;
      height: 20px;
      margin-left: 6px;
    }
  }
}

@include respond-to(425px) {
  .-container {
    max-width: 1200px;
  }

  .main-tour {
    &__card {
      width: 100%;
      height: 330px;
      border-radius: 10px;
      background: $white;
      box-shadow: 0 5px 10px 0 $black-shadow-10;
    }

    .hot-deal__card {
      height: 349px;
    }
  }
}
