.icon {
  &--location {
    opacity: 0.5;
    width: 14px;
    height: 14px;
  }
}

.season-tours {
  margin-bottom: 104px;

  &__title {
    @extend %display-center;
    gap: 7px;
    margin-bottom: 17px;
    font-size: 26px;
    letter-spacing: 1.3px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    padding-bottom: 42px;
    color: $gray-text;
    text-align: center;
  }

  &__wrapper {
    @extend %display-flex;
  }

  &__swiper {
    padding: 0 2px 10px;
  }

  &__swiper-wrapper {
    @extend %position-rel;
  }

  &__swiper-slide {
    padding: 0 10px 15px;
  }

  &__card {
    width: 100%;
    height: 364px;
    border-radius: 10px;
    background: $white;
    box-shadow: 0 5px 10px 0 $black-shadow-10;
  }

  &__card-img {
    @extend %position-rel;
  }

  .hero__bg-img {
    width: 100%;
    height: 250px;
    max-height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }

  &__card-text-wrapper {
    @extend %display-jc-sb;
    padding: 15px 16px 18px;
  }

  &__card-place-wrapper {
    @extend %display-flex;
    gap: 4px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $green;
  }

  &__card-place {
    font-size: 16px;
    color: $text;
  }

  &__card-price-new {
    letter-spacing: 1px;
  }

  &__price--strong {
    margin-right: -5px;
    font-weight: 700;
    color: $black;
  }

  &__btn {
    @extend %display-center;
    max-width: 248px;
    height: 42px;
    margin: 0 auto;
    color: $white;
  }
}

@media (width<= 1355px) {
  .season-tours {
    &__swiper {
      margin: 20px 0 0;
    }
  }
}

@media (width <= 525px) {
  .main-winter {
    margin: 85px 0 0;
  }

  .main-summer {
    margin: 81px 0 80px;
  }

  .season-tours__button-wrapper {
    margin: 15px 0 0;
  }
}
