<section class="main-company main-hot">
  <div class="container _container">
    <div class="main-company__content">
      <h1 class="main-company__title main__tour__title">
        <svg class="icon icon__stopwatch main__tour__title--svg">
  <use xlink:href="/assets/sprites/sprite.svg#stopwatch"></use>
</svg>
         <span class="main__tour__title--span">
          горящие 
        </span>
        <span class="main__tour__title--span">
          предложения
        </span>
        
      </h1>

      <div class="main-company__wrapper">

        <div class="main-tour__swiper-button-prev main-hot__swiper-button-prev">
          <div class="main-tour__swiper-round">
            <svg class="icon icon__chevron main-tour__button-svg">
              <use
                xlink:href="/assets/sprites/sprite.svg#mdi_chevron-left"
              ></use>
            </svg>
          </div>
        </div>

        <div class="swiper main-company__swiper ">

          <div class="swiper-wrapper main-company__swiper-wrapper">

            <div class="swiper-slide main-company__swiper-slide">
              <div class="main-company__card">
                <div class="main-company__card-img">

                  <picture class="card__bg-img">
                    <source
                      srcset="/assets/images/hot-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="/assets/images/hot-1.png"
                      alt="bg"
                      loading="lazy"
                    />
                  </picture>

                  <div class="main-company__card-data-wrapper hot-deals__card-data-wrapper">
                    <svg class="icon icon__clock">
                      <use xlink:href="/assets/sprites/sprite.svg#clock"></use>
                    </svg>

                    <p class="main-company__card-data">25 июня 2020</p>
                  </div>

                  <div class="hot-deals__card-place-wrapper">
                    <svg class="icon icon__location">
                      <use
                        xlink:href="/assets/sprites/sprite.svg#location"
                      ></use>
                    </svg>
                    <p class="hot-deals__card-place">Кипр, Пафос</p>
                  </div>
                </div>

                <p class="main-company__card-text">Бархатный сезон в Греции!</p>
              </div>
            </div>

            <div class="swiper-slide main-company__swiper-slide">
              <div class="main-company__card">
                <div class="main-company__card-img">

                  <picture class="card__bg-img">
                    <source
                      srcset="/assets/images/hot-2.webp"
                      type="image/webp"
                    />
                    <img
                      src="/assets/images/hot-2.png"
                      alt="bg"
                      loading="lazy"
                    />
                  </picture>

                  <div class="main-company__card-data-wrapper hot-deals__card-data-wrapper">
                    <svg class="icon icon__clock">
                      <use xlink:href="/assets/sprites/sprite.svg#clock"></use>
                    </svg>

                    <p class="main-company__card-data">25 июня 2020</p>
                  </div>

                <div class="hot-deals__card-place-wrapper">
                    <svg class="icon icon__location">
                      <use
                        xlink:href="/assets/sprites/sprite.svg#location"
                      ></use>
                    </svg>
                    <p class="hot-deals__card-place">Кипр, Пафос</p>
                  </div>

                </div>

                <p class="main-company__card-text">Туры в Турцию на осень и в
                  Египет на 2020 и 21 год!</p>
              </div>
            </div>

            <div class="swiper-slide main-company__swiper-slide">
              <div class="main-company__card">
                <div class="main-company__card-img">

                  <picture class="card__bg-img">
                    <source
                      srcset="/assets/images/hot-3.webp"
                      type="image/webp"
                    />
                    <img
                      src="/assets/images/hot-3.png"
                      alt="bg"
                      loading="lazy"
                    />
                  </picture>

                  <div class="main-company__card-data-wrapper hot-deals__card-data-wrapper">
                    <svg class="icon icon__clock">
                      <use xlink:href="/assets/sprites/sprite.svg#clock"></use>
                    </svg>

                    <p class="main-company__card-data">25 июня 2020</p>
                  </div>

                  <div class="hot-deals__card-place-wrapper">
                    <svg class="icon icon__location">
                      <use
                        xlink:href="/assets/sprites/sprite.svg#location"
                      ></use>
                    </svg>
                    <p class="hot-deals__card-place">Кипр, Пафос</p>
                  </div>
                </div>

                <p class="main-company__card-text">Бархатный сезон в Греции!</p>
              </div>
            </div>

            <div class="swiper-slide main-company__swiper-slide">
              <div class="main-company__card">
                <div class="main-company__card-img">

                  <picture class="card__bg-img">
                    <source
                      srcset="/assets/images/company-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="/assets/images/company-1.png"
                      alt="bg"
                      loading="lazy"
                    />
                  </picture>

                  <div class="main-company__card-data-wrapper hot-deals__card-data-wrapper">
                    <svg class="icon icon__clock">
                      <use xlink:href="/assets/sprites/sprite.svg#clock"></use>
                    </svg>

                    <p class="main-company__card-data">25 июня 2020</p>
                  </div>

                  <div class="hot-deals__card-place-wrapper">
                    <svg class="icon icon__location">
                      <use
                        xlink:href="/assets/sprites/sprite.svg#location"
                      ></use>
                    </svg>
                    <p class="hot-deals__card-place">Кипр, Пафос</p>
                  </div>

                </div>

                <p class="main-company__card-text">Бархатный сезон в Греции!</p>
              </div>
            </div>

            <div class="swiper-slide main-company__swiper-slide">
              <div class="main-company__card">
                <div class="main-company__card-img">

                  <picture class="card__bg-img">
                    <source
                      srcset="/assets/images/company-2.webp"
                      type="image/webp"
                    />
                    <img
                      src="/assets/images/company-2.png"
                      alt="bg"
                      loading="lazy"
                    />
                  </picture>

                  <div class="main-company__card-data-wrapper hot-deals__card-data-wrapper">
                    <svg class="icon icon__clock">
                      <use xlink:href="/assets/sprites/sprite.svg#clock"></use>
                    </svg>

                    <p class="main-company__card-data">25 июня 2020</p>
                  </div>
                </div>

                <p class="main-company__card-text">Туры в Турцию на осень и в
                  Египет на 2020 и 21 год!</p>
              </div>
            </div>

            <div class="swiper-slide main-company__swiper-slide">
              <div class="main-company__card">
                <div class="main-company__card-img">

                  <picture class="card__bg-img">
                    <source
                      srcset="/assets/images/company-3.webp"
                      type="image/webp"
                    />
                    <img
                      src="/assets/images/company-3.png"
                      alt="bg"
                      loading="lazy"
                    />
                  </picture>

                  <div class="main-company__card-data-wrapper hot-deals__card-data-wrapper">
                    <svg class="icon icon__clock">
                      <use xlink:href="/assets/sprites/sprite.svg#clock"></use>
                    </svg>

                    <p class="main-company__card-data">25 июня 2020</p>
                  </div>
                </div>

                <p class="main-company__card-text">Бархатный сезон в Греции!</p>
              </div>
            </div>

          </div>
        </div>

        <div class="main-tour__swiper-button-next main-hot__swiper-button-next">
          <div class="main-tour__swiper-round">
            <svg class="icon icon__chevron main-tour__button-svg">
              <use
                xlink:href="/assets/sprites/sprite.svg#mdi_chevron-right"
              ></use>
            </svg>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>