<section class="seasonal-tours main-summer">
  <div class="container _container">
    <div class="seasonal-tours__content">

      <h1 class="seasonal-tours__title">летние ТУРЫ</h1>
      <p class="seasonal-tours__text">Лето 2019 - 2020</p>

      <div class="seasonal-tours__wrapper">

        <div class="main-tour__swiper-button-prev main-summer__swiper-button-prev">
          <div class="main-tour__swiper-round">
            <svg class="icon icon__chevron main-tour__button-svg">
              <use
                xlink:href="/assets/sprites/sprite.svg#mdi_chevron-left"
              ></use>
            </svg>
          </div>
        </div>

        <div class="swiper seasonal-tours__swiper main-summer__swiper">

          <div class="swiper-wrapper seasonal-tours__swiper-wrapper main-summer__swiper-wrapper">

            <div class="swiper-slide seasonal-tours__swiper-slide main-summer__swiper-slide">
              <div class="seasonal-tours__card main-summer__card">
                <div class="seasonal-tours__card-img">
                  <picture class="hero__bg-img">
                    <source
                      srcset="/assets/images/summer-1.webp"
                      type="image/webp"
                    />
                    <img src="/assets/images/summer-1.png" alt="bg" />
                  </picture>
                </div>
                <div class="seasonal-tours__card-text-wrapper">
                  <div class="seasonal-tours__card-place-wrapper">
                    <svg class="icon icon__location seasonal-tours__icon">
                      <use
                        xlink:href="/assets/sprites/sprite.svg#location"
                      ></use>
                    </svg>
                    <p class="seasonal-tours__card-place">Греция</p>
                  </div>
                  <p class="seasonal-tours__card-price-new">от
                    <span>509€</span>/чел</p>

                </div>
                <a href="#" class="seasonal-tours__btn main-btn ">Выбрать тур</a>
              </div>
            </div>

            <div class="swiper-slide seasonal-tours__swiper-slide main-summer__swiper-slide">
              <div class="seasonal-tours__card main-summer__card">
                <div class="seasonal-tours__card-img">
                  <picture class="hero__bg-img">
                    <source
                      srcset="/assets/images/summer-2.webp"
                      type="image/webp"
                    />
                    <img src="/assets/images/summer-2.png" alt="bg" />
                  </picture>
                </div>
                <div class="seasonal-tours__card-text-wrapper">
                  <div class="seasonal-tours__card-place-wrapper">
                    <svg class="icon icon__location seasonal-tours__icon">
                      <use
                        xlink:href="/assets/sprites/sprite.svg#location"
                      ></use>
                    </svg>
                    <p class="seasonal-tours__card-place">Черногория</p>
                  </div>
                  <p class="seasonal-tours__card-price-new">от
                    <span>509€</span>/чел</p>

                </div>
                <a href="#" class="seasonal-tours__btn main-btn ">Выбрать тур</a>
              </div>
            </div>

            <div class="swiper-slide seasonal-tours__swiper-slide main-summer__swiper-slide">
              <div class="seasonal-tours__card main-summer__card">
                <div class="seasonal-tours__card-img">
                  <picture class="hero__bg-img">
                    <source
                      srcset="/assets/images/summer-3.webp"
                      type="image/webp"
                    />
                    <img src="/assets/images/summer-3.png" alt="bg" />
                  </picture>
                </div>
                <div class="seasonal-tours__card-text-wrapper">
                  <div class="seasonal-tours__card-place-wrapper">
                    <svg class="icon icon__location seasonal-tours__icon">
                      <use
                        xlink:href="/assets/sprites/sprite.svg#location"
                      ></use>
                    </svg>
                    <p class="seasonal-tours__card-place">Тунис</p>
                  </div>
                  <p class="seasonal-tours__card-price-new">от
                    <span>509€</span>/чел</p>

                </div>
                <a href="#" class="seasonal-tours__btn main-btn ">Выбрать тур</a>
              </div>
            </div>

            <div class="swiper-slide seasonal-tours__swiper-slide main-summer__swiper-slide">
              <div class="seasonal-tours__card main-summer__card">
                <div class="seasonal-tours__card-img">
                  <picture class="hero__bg-img">
                    <source
                      srcset="/assets/images/summer-4.webp"
                      type="image/webp"
                    />
                    <img src="/assets/images/summer-4.png" alt="bg" />
                  </picture>
                </div>
                <div class="seasonal-tours__card-text-wrapper">
                  <div class="seasonal-tours__card-place-wrapper">
                    <svg class="icon icon__location seasonal-tours__icon">
                      <use
                        xlink:href="/assets/sprites/sprite.svg#location"
                      ></use>
                    </svg>
                    <p class="seasonal-tours__card-place">Кипр</p>
                  </div>
                  <p class="seasonal-tours__card-price-new">от
                    <span>509€</span>/чел</p>

                </div>
                <a href="#" class="seasonal-tours__btn main-btn ">Выбрать тур</a>
              </div>
            </div>

            <div class="swiper-slide seasonal-tours__swiper-slide main-summer__swiper-slide">
              <div class="seasonal-tours__card main-summer__card">
                <div class="seasonal-tours__card-img">
                  <picture class="hero__bg-img">
                    <source
                      srcset="/assets/images/winter-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="/assets/images/winter-1.png"
                      alt="bg"
                      class="hero__bg-img"
                    />
                  </picture>
                </div>
                <div class="seasonal-tours__card-text-wrapper">
                  <div class="seasonal-tours__card-place-wrapper">
                    <svg class="icon icon__location seasonal-tours__icon">
                      <use
                        xlink:href="/assets/sprites/sprite.svg#location"
                      ></use>
                    </svg>
                    <p class="seasonal-tours__card-place">Египет</p>
                  </div>
                  <p class="seasonal-tours__card-price-new">от
                    <span>509€</span>/чел</p>

                </div>
                <a href="#" class="seasonal-tours__btn main-btn ">Выбрать тур</a>
              </div>
            </div>

            <div class="swiper-slide seasonal-tours__swiper-slide main-summer__swiper-slide">
              <div class="seasonal-tours__card main-summer__card">
                <div class="seasonal-tours__card-img">
                  <picture class="hero__bg-img">
                    <source
                      srcset="/assets/images/winter-2.webp"
                      type="image/webp"
                    />
                    <img src="/assets/images/winter-2.png" alt="bg" />
                  </picture>
                </div>
                <div class="seasonal-tours__card-text-wrapper">
                  <div class="seasonal-tours__card-place-wrapper">
                    <svg class="icon icon__location seasonal-tours__icon">
                      <use
                        xlink:href="/assets/sprites/sprite.svg#location"
                      ></use>
                    </svg>
                    <p class="seasonal-tours__card-place">Литва</p>
                  </div>
                  <p class="seasonal-tours__card-price-new">от
                    <span>509€</span>/чел</p>

                </div>
                <a href="#" class="seasonal-tours__btn main-btn ">Выбрать тур</a>
              </div>
            </div>

            <div class="swiper-slide seasonal-tours__swiper-slide main-summer__swiper-slide">
              <div class="seasonal-tours__card main-summer__card">
                <div class="seasonal-tours__card-img">
                  <picture class="hero__bg-img">
                    <source
                      srcset="/assets/images/winter-3.webp"
                      type="image/webp"
                    />
                    <img src="/assets/images/winter-3.png" alt="bg" />
                  </picture>
                </div>
                <div class="seasonal-tours__card-text-wrapper">
                  <div class="seasonal-tours__card-place-wrapper">
                    <svg class="icon icon__location seasonal-tours__icon">
                      <use
                        xlink:href="/assets/sprites/sprite.svg#location"
                      ></use>
                    </svg>
                    <p class="seasonal-tours__card-place">Болгария</p>
                  </div>
                  <p class="seasonal-tours__card-price-new">от
                    <span>509€</span>/чел</p>

                </div>
                <a href="#" class="seasonal-tours__btn main-btn ">Выбрать тур</a>
              </div>
            </div>

            <div class="swiper-slide seasonal-tours__swiper-slide main-summer__swiper-slide">
              <div class="seasonal-tours__card main-summer__card">
                <div class="seasonal-tours__card-img">
                  <picture class="hero__bg-img">
                    <source
                      srcset="/assets/images/winter-4.webp"
                      type="image/webp"
                    />
                    <img src="/assets/images/winter-4.png" alt="bg" />
                  </picture>
                </div>
               <div class="seasonal-tours__card-text-wrapper">
                  <div class="seasonal-tours__card-place-wrapper">
                    <svg class="icon icon__location seasonal-tours__icon">
                      <use
                        xlink:href="/assets/sprites/sprite.svg#location"
                      ></use>
                    </svg>
                    <p class="seasonal-tours__card-place">Турция</p>
                  </div>
                  <p class="seasonal-tours__card-price-new">от
                    <span>509€</span>/чел</p>

                </div>
                <a href="#" class="seasonal-tours__btn main-btn ">Выбрать тур</a>
              </div>
            </div>

          </div>
        </div>

        <div class="main-tour__swiper-button-next main-summer__swiper-button-next">
          <div class="main-tour__swiper-round">
            <svg class="icon icon__chevron main-tour__button-svg">
              <use
                xlink:href="/assets/sprites/sprite.svg#mdi_chevron-right"
              ></use>
            </svg>
          </div>
        </div>

      </div>

      <div class="main-tour__button-wrapper">
        <a href="#" class="main-tour__button">Все летние туры</a>
        <svg class="icon icon__arrow-right main-tour__button-icon">
          <use xlink:href="/assets/sprites/sprite.svg#arrow-right"></use>
        </svg>
      </div>

    </div>
  </div>

</section>