.hotel-card-info {
  justify-content: space-between;
  display: flex;
  margin-bottom: 70px;

  &__wrapper {
    width: 62.5%;
    margin: 40px 30px 0 0;
  }

  &__first-block {
    display: none;
  }

  .icon--padlock {
    width: 18px;
    height: 18px;
    margin-right: 7px;
    fill: $gray-text;
  }

  .icon--calendar,
  .icon--airplane-takeoff,
  .icon--cutlery,
  .icon--house {
    padding: 0;
  }

  .icon--calendar {
    fill: $green;
  }

  .icon--search-plus {
    margin-right: 10px;
    fill: $primary;
  }

  .icon--cross {
    margin-left: 10px;
    fill: $cross;
  }

  .dropdown__row {
    border: 1px solid $light-gray;
  }

  &__content-wrapper {
    margin-top: 15px;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.4;
  }

  &__text {
    margin-bottom: 66px;
    font-size: 14px;
    line-height: 1.5;
  }

  &__list {
    column-count: 2;
    column-gap: 20px;
  }

  &__item {
    max-width: 292px;
    margin-bottom: 30px;
    break-inside: avoid;
  }

  &__short-item {
    position: relative;
    padding-left: 20px;

    &::before {
      content: '— ';
      position: absolute;
      left: 0;
    }
  }

  &__subtitle {
    line-height: 1.4;
  }

  &__swiper-container {
    overflow: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .gallery-thumbs__swiper-img,
  .gallery-top__swiper-img {
    width: 100%;
    border-radius: 8px;
  }

  .gallery-top {
    width: 100%;
  }

  .gallery-thumbs {
    max-height: 195px;
    padding: 16px 0;
    box-sizing: border-box;

    &__swiper-slide {
      opacity: 0.6;
      height: 100%;
      margin-right: 16px !important;
    }

    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }

  @include respond-to($lap-top) {
        .main-tour__swiper-button-prev, 
        .main-tour__swiper-button-next {
        top: 5%;
    }
  }

  @include respond-to($tablet) {
    flex-direction: column;
    margin-bottom: 56px;

    &__wrapper {
      width: 100%;
      margin: 0;
    }

    &__first-block {
      display: block;
    }

    &__text {
      margin-bottom: 46px;
    }

    .hotel-card-sidebar__third-block-item:not(:last-child) {
    margin-bottom: 8px;
}

.hotel-card-sidebar__guests-title {
    margin: 23px 0 10px;
}

.hotel-card-sidebar__first-block {
    padding: 25px 20px;
}

      .icon--calendar,
  .icon--airplane-takeoff,
  .icon--cutlery,
  .icon--house {
    width: 18px;
    height: 18px;
  }
  }

  @include respond-to($mobile) {
    &__list {
      column-count: 1;
    }

    &__short-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 15px;
    }

    .gallery-thumbs {
      margin-bottom: 20px;
      padding: 7px 0;

      &__swiper-slide {
        margin-right: 7px !important;
      }
    }
  }

  @include respond-to($s-mobile) {
    &__short-list {
      grid-template-columns: 1fr;
    }
  }
}
