.hotel-card-sidebar {
  margin-top: -30px;

  &__wrapper {
    max-width: 371px;
  }

  &__first-block {
    margin-bottom: 48px;
    padding: 25px;
    background: $white;
    box-shadow: 0 5px 10px 0 #0000001a;
  }

  &__first-block-top {
    @extend %display-jc-sb;
    margin-bottom: 24px;
  }

  &__first-block-title {
    font-size: 20px;
  }

  &__first-block-link {
    color: $primary;
    transition: text-decoration 0.3s ease;

    &:hover {
      text-decoration: underline;
    }
  }

  &__first-block-price {
    margin: 24px 0 10px;
    font-size: 24px;

    &--strong {
      font-weight: 700;
    }
  }

  &__first-block-text {
    font-size: 12px;
    line-height: 1.3;
    color: $gray-text;

    &--strong {
      font-weight: 700;
    }
  }

  &__first-block-btn {
    width: 100%;
    padding: 12px;
  }

  &__first-block-private-block {
    display: flex;
    margin-top: 17px;
  }

  &__guests-title {
    margin: 35px 0 10px;
    font-size: 16px;
    color: $gray;
  }

  &__first-block-counter {
    margin-top: 10px;
  }

  &__first-block-counter-item {
    display: inline-block;
    width: auto;
    margin: 8px 8px 0 0;
    padding: 3px 10px;
    border: 1px solid $light-gray;
    border-radius: 6px;
    font-size: 12px;
    box-shadow: 0 2px 3px 0 #0000001a;
  }

  .dropdown__row {
    border: 1px solid $light-gray;
  }

  .dropdown__list {
    border-top: 1px solid transparent;
  }

  .icon--padlock {
    width: 18px;
    height: 18px;
    margin-right: 15px;
    fill: $gray-text;
  }

  &__total-price {
    margin: 30px 0 16px;
    font-size: 16px;

    &--important {
      margin-left: 5px;
      font-size: 24px;
      font-weight: 700;
      color: $green;
    }
  }

  &__second-block {
    width: 100%;
    padding: 21px 20px 28px;
    border: 3px solid $primary;
    border-radius: 8px;
    background: $white;
  }

  &__block-title {
    font-size: 17px;
    line-height: 1.4;

    &--strong {
      font-weight: 700;
    }
  }

  &__second-block-list {
    margin-top: 24px;
  }

  &__second-block-item {
    @extend %display-flex;
  }

  &__second-block-item:not(:last-child) {
    margin-bottom: 14px;
  }

  .icon--checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
    fill: $green;
  }

  &__svg-wrapper {
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border: 1px solid $green;
    border-radius: 5px;
  }

  &__second-block-text {
    font-size: 16px;
    font-weight: 700;
  }

  .icon--phone,
  .icon--envelope,
  .icon--message,
  .icon--clock,
  .icon--calendar,
  .icon--airplane-takeoff,
  .icon--cutlery,
  .icon--house {
    padding: 0;
  }

  &__third-block {
    margin-top: 48px;
    padding: 24px;
    border-radius: 8px;
    background: $white;
    box-shadow: 0 5px 10px 0 #0000001a;
  }

  &__block-subtitle {
    margin: 20px 0 16px;
    font-size: 16px;
    line-height: 1.4;

    &--strong {
      font-size: 18px;
      font-weight: 700;
    }
  }

  &__third-block-list {
    margin-top: 16px;
  }

  &__consultant-link {
    @extend %display-flex;
  }

  &__third-block-item:not(:last-child) {
    margin-bottom: 16px;
  }

  &__consultant-link-text {
    margin-left: 12px;
    font-size: 16px;

    &--strong {
      font-weight: 700;
    }
  }

  &__item--guests {
    align-items: center;
  }

  &__subitem {
    padding: 0 4px 0 0;
  }

  &__select {
    flex-grow: 1;
    margin-right: 8px;
  }

  &__select-custom {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
  }

  .icon--cross {
    margin-left: 10px;
    fill: $cross;
  }

  .search-bar__guests {
    width: 100%;
  }

  @include respond-to($l-tablet) {
    margin-top: 40px;
  }

  @media (max-width: 875px) {
    .search-bar__guests {
      min-width: 100%;
    }
  }

  @include respond-to($tablet) {
    &__first-block {
      margin: 0 -15px 32px;
      box-shadow: 0 5px 5px 0 #0000001a;
    }

    &__wrapper {
      max-width: 100%;
    }

    &__third-block {
      img {
        width: 100%;
      }
    }

    &__second-block-list,
    &__third-block-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }

  @include respond-to($mobile) {
    &__second-block-list,
    &__third-block-list {
      grid-template-columns: 1fr;
    }
  }
}

.dropdown--open .dropdown__list {
  max-height: 206px;
}

.dropdown--open:last-child .dropdown__list:last-child {
  max-height: max-content;
}
